<div class="modal fade" id="mens-g1" tabindex="-1" aria-labelledby="mens-g1Label" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content card-black-border"
            style="background: linear-gradient(to bottom, rgba(20,20,20,1), rgba(80,80,80,1));">
            <div class="modal-header">
                <h5 class="modal-title" id="mens-g1Label">MEN'S - GAME 1 TEAM ROSTERS</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="ratio ratio-16x9">
                    <iframe id="how-it-works-video" width="100%" height="100%" src="https://www.youtube.com/embed/BrD3abCyuzw" title="YouTube video player" frameborder="5" allowfullscreen></iframe>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-6">
                        {% include rosters/mens/unified.html %}
                    </div>
                    <hr class="d-block d-md-none">
                    <div class="col-12 col-sm-6">
                        {% include rosters/mens/beaverdam.html %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
      var url = $("#how-it-works-video").attr('src');
    
      $("#mens-g1").on('hide.bs.modal', function() {
        $("#how-it-works-video").attr('src', '');
            console.log('Unloaded')
      });
    
      $("#mens-g1").on('shown.bs.modal', function() {
        $("#how-it-works-video").attr('src', url);
            console.log('Loaded')
      });
    });
</script>
