<div class="modal fade" id="mens-g1" tabindex="-1" aria-labelledby="mens-g1Label" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content card-black-border"
            style="background: linear-gradient(to bottom, rgba(20,20,20,1), rgba(80,80,80,1));">
            <div class="modal-header">
                <h5 class="modal-title" id="mens-g1Label">MEN'S - GAME 1 TEAM ROSTERS</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 order-lg-2">
                            <div id="mens01"></div>
                        </div>
                        <div class="col-lg-6 order-lg-1">
                            <div class="d-flex flex-column justify-content-center align-items-center h-100">
                                <h4>Game 01 Predictions</h4>
                                <i>(Based on Bracketology entries)</i><br>
                                <div class="inline-block" style="background: var(--beaver-dam);height:25px;width:25px;"></div><h5>BEAVER DAM</h5>
                                <div class="inline-block" style="background: var(--chikasha-toli);height:25px;width:25px;"></div><h5>CHIKASHA TÓLI</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-6">
                        <!-- {% include rosters/mens/beaverdam.html %} -->
                    </div>
                    <hr class="d-block d-md-none">
                    <div class="col-12 col-sm-6">
                        <!-- {% include rosters/mens/tvshkahomma.html %} -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
