<h5>UNIFIED</h5>
<h6>COACH: ROCKY ISOM</h6>
<table class="table table-dark table-striped">
    <tbody>
        <tr><th scope="row">0</th><td>SEDRIC WILLIAMS</td></tr>
        <tr><th scope="row">1</th><td>SIMEON WILLIS</td></tr>
        <tr><th scope="row">2</th><td>JAMAL WILLIS</td></tr>
        <tr><th scope="row">3</th><td>BRYSON DAVIS</td></tr>
        <tr><th scope="row">4</th><td>CAMERON SHOEMAKE</td></tr>
        <tr><th scope="row">5</th><td>JASHAUN TUBBY</td></tr>
        <tr><th scope="row">7</th><td>DERALD ISOM</td></tr>
        <tr><th scope="row">8</th><td>NICHOLES VASQUEZ</td></tr>
        <tr><th scope="row">9</th><td>BRANDALL VAUGHN</td></tr>
        <tr><th scope="row">10</th><td>DEMANUEL WILLIS</td></tr>
        <tr><th scope="row">11</th><td>HARVEY MCMILLAN, JR.</td></tr>
        <tr><th scope="row">12</th><td>JONTARRIO WILLIS</td></tr>
        <tr><th scope="row">14</th><td>LANE FARMER</td></tr>
        <tr><th scope="row">15</th><td>BRANDON DAVIS</td></tr>
        <tr><th scope="row">16</th><td>GASTON PENNINGTON</td></tr>
        <tr><th scope="row">17</th><td>KEVIN SOLOMON</td></tr>
        <tr><th scope="row">18</th><td>KALEB SOLOMON</td></tr>
        <tr><th scope="row">20</th><td>JAMISON JOHNSON</td></tr>
        <tr><th scope="row">21</th><td>DUDLEY WILLIAMS</td></tr>
        <tr><th scope="row">22</th><td>GERALD ISOM, JR.</td></tr>
        <tr><th scope="row">23</th><td>ROCKY ISOM</td></tr>
        <tr><th scope="row">24</th><td>HILOWAH DAVIS</td></tr>
        <tr><th scope="row">25</th><td>THEO THOMAS</td></tr>
        <tr><th scope="row">26</th><td>BERNON SHOEMAKE</td></tr>
        <tr><th scope="row">27</th><td>MICHAEL ROBINSON</td></tr>
        <tr><th scope="row">28</th><td>QUENTON ANDERSON</td></tr>
        <tr><th scope="row">29</th><td>DILLON FARMER</td></tr>
        <tr><th scope="row">31</th><td>ZACH FARMER</td></tr>
        <tr><th scope="row">32</th><td>BILLIE ISOM</td></tr>
        <tr><th scope="row">33</th><td>NICHOLAS TUBBY</td></tr>
        <tr><th scope="row">34</th><td>CODY ANDERSON</td></tr>
        <tr><th scope="row">35</th><td>ADAM DIXON, JR.</td></tr>
        <tr><th scope="row">36</th><td>JOSE BAROJAS, JR.</td></tr>
        <tr><th scope="row">38</th><td>GERMAINE ISOM</td></tr>
        <tr><th scope="row">40</th><td>SRI GRANT</td></tr>
        <tr><th scope="row">41</th><td>KEVIN THOMAS</td></tr>
        <tr><th scope="row">42</th><td>TODD JIM</td></tr>
        <tr><th scope="row">43</th><td>NERMAN BELL</td></tr>
        <tr><th scope="row">45</th><td>JOSHUA HICKMAN</td></tr>
        <tr><th scope="row">48</th><td>ASHLEY DENSON</td></tr>
        <tr><th scope="row">54</th><td>GERALD ISOM, SR.</td></tr>
        <tr><th scope="row">65</th><td>SAMUEL PENNINGTON</td></tr>
        <tr><th scope="row">66</th><td>TITUS JIM</td></tr>
        <tr><th scope="row">69</th><td>JAMION SHOEMAKE</td></tr>
        <tr><th scope="row">77</th><td>BRANDON SHUMAKE</td></tr>
        <tr><th scope="row">81</th><td>BRANNON WILSON</td></tr>
        <tr><th scope="row">82</th><td>RANDOLPH WILLIAMS</td></tr>
        <tr><th scope="row">84</th><td>CEDRIC WILLIAMS</td></tr>
        <tr><th scope="row">88</th><td>SHE'CHEM GRANT</td></tr>
        <tr><th scope="row">98</th><td>SHAUNRAY THOMAS</td></tr>
        <tr><th scope="row">99</th><td>DREXLER CHAPMAN</td></tr>
    </tbody>
</table>
