<h5>INDEPENDENTS</h5>
<h6>COACHES: STEVE DIXON, RIAN WILLIS</h6>
<table class="table table-dark table-striped">
    <tbody>
        <tr><th scope="row">0</th><td>SEBASTIAN LEWIS</td></tr>
        <tr><th scope="row">1</th><td>SIMEON WILLIS</td></tr>
        <tr><th scope="row">2</th><td>DOUGLAS WILLIAMS</td></tr>
        <tr><th scope="row">3</th><td>WINSLOW BELL</td></tr>
        <tr><th scope="row">4</th><td>ADAM JOE</td></tr>
        <tr><th scope="row">5</th><td>GERREN ISAAC</td></tr>
        <tr><th scope="row">7</th><td>JASON WALLACE</td></tr>
        <tr><th scope="row">8</th><td>DELANOVKA DIXON</td></tr>
        <tr><th scope="row">9</th><td>JAMIE JOHN</td></tr>
        <tr><th scope="row">10</th><td>MARCO THOMAS</td></tr>
        <tr><th scope="row">11</th><td>DELANIE HICKMAN</td></tr>
        <tr><th scope="row">12</th><td>LENNY HALL</td></tr>
        <tr><th scope="row">13</th><td>ANTONIO GARCIA</td></tr>
        <tr><th scope="row">14</th><td>MERRELL MITCH</td></tr>
        <tr><th scope="row">15</th><td>BOBBY MITCH, SR.</td></tr>
        <tr><th scope="row">16</th><td>DESMOND JONES</td></tr>
        <tr><th scope="row">17</th><td>TRACEY WALLACE</td></tr>
        <tr><th scope="row">18</th><td>MARIO BEN</td></tr>
        <tr><th scope="row">19</th><td>RIAN WILLIS</td></tr>
        <tr><th scope="row">20</th><td>ROBERT GARCIA</td></tr>
        <tr><th scope="row">21</th><td>RYAN SHUMAKE</td></tr>
        <tr><th scope="row">22</th><td>JOSH TUBBY</td></tr>
        <tr><th scope="row">23</th><td>PETER SOCKEY</td></tr>
        <tr><th scope="row">24</th><td>RODGER MAYFIELD</td></tr>
        <tr><th scope="row">25</th><td>FABIEN TUBBY</td></tr>
        <tr><th scope="row">26</th><td>LANNIE REED</td></tr>
        <tr><th scope="row">27</th><td>STEVE DIXON</td></tr>
        <tr><th scope="row">28</th><td>KENT WESLEY</td></tr>
        <tr><th scope="row">29</th><td>JOHN WAHWASUCK</td></tr>
        <tr><th scope="row">30</th><td>MITCHELL TUBBY</td></tr>
        <tr><th scope="row">31</th><td>MASON MINGO</td></tr>
        <tr><th scope="row">32</th><td>WILLIAM CORDIN</td></tr>
        <tr><th scope="row">33</th><td>GALEN JOHN</td></tr>
        <tr><th scope="row">34</th><td>EDWIN CLEMONS</td></tr>
        <tr><th scope="row">35</th><td>RAYMOND COMBY</td></tr>
        <tr><th scope="row">37</th><td>DEREK WILIS</td></tr>
        <tr><th scope="row">38</th><td>IRA BEN</td></tr>
        <tr><th scope="row">39</th><td>RAYMOND WILSON</td></tr>
        <tr><th scope="row">40</th><td>LORENZO WALLACE</td></tr>
        <tr><th scope="row">42</th><td>GAYLON WILLIAMS</td></tr>
        <tr><th scope="row">43</th><td>EDWIN WILLIS</td></tr>
        <tr><th scope="row">44</th><td>BILLY MCMILLAN</td></tr>
        <tr><th scope="row">45</th><td>PHILLIP MCMILLAN</td></tr>
        <tr><th scope="row">50</th><td>HORANCE LEWIS</td></tr>
        <tr><th scope="row">52</th><td>JASON MINGO</td></tr>
        <tr><th scope="row">54</th><td>RANDY WALLACE</td></tr>
        <tr><th scope="row">55</th><td>JERRY WILLIAMS</td></tr>
        <tr><th scope="row">59</th><td>KENNETH BELL</td></tr>
        <tr><th scope="row">64</th><td>BRANDON TUBBY</td></tr>
        <tr><th scope="row">99</th><td>GIOVANN DIXON</td></tr>
    </tbody>
</table>
