<h5>KONI HATA</h5>
<h6>COACHES:<br>
    GREGORY SHOEMAKE<br>
    RODDY NICKEY<br>
    LAMO JOHNSON<br>
    TIMOTHY THOMAS
</h6>
<p>  0 - CHAD JOHNSON</p>
<p>  1 - RONALD BILLY, JR.</p>
<p>  2 - TIMOTHY THOMAS, SR.</p>
<p>  3 - JOHN THOMAS</p>
<p>  4 - JAMIE WESLEY</p>
<p>  5 - JULIAN DIXON</p>
<p>  6 - CURTIS WILLIAMSON</p>
<p>  7 - CHRISTOPHER KING</p>
<p>  8 - BOBBY WILLIAMS, JR.</p>
<p>  9 - ALARYS JOHNSON</p>
<p> 10 - DAKOTA HICKS</p>
<p> 11 - CALEB WILLIAMSON</p>
<p> 12 - ERIC BILLY, SR.</p>
<p> 13 - MCCOY JOHNSON</p>
<p> 14 - AZALIUS LEWIS</p>
<p> 15 - ARRION WILLIAMSON</p>
<p> 16 - JUSTIN WILLIS</p>
<p> 17 - BRETT SHOEMAKE</p>
<p> 18 - DANOVAN KING</p>
<p> 19 - JOSHUA SMITH</p>
<p> 20 - XAVIER JIMMIE</p>
<p> 21 - KAINEN WILLIAMS</p>
<p> 22 - JOSHUA THOMAS</p>
<p> 23 - ERIC WILLIS</p>
<p> 24 - KELBY ANDERSON</p>
<p> 25 - MITCH SHOEMAKE</p>
<p> 26 - AARON CHARLIE</p>
<p> 27 - TORONEL WILLIS</p>
<p> 28 - DELRAY SOCKEY</p>
<p> 29 - LAMO JOHNSON</p>
<p> 30 - QUENDAL SHOEMAKE</p>
<p> 31 - DAKOTA ANDERSON</p>
<p> 32 - GARRISON EDWARDS</p>
<p> 33 - GRANT WILLIAMS</p>
<p> 34 - TREYTON BEN</p>
<p> 35 - DALVIN WILLIAMS</p>
<p> 36 - ETHAN SMITH</p>
<p> 37 - DEBRENT JOHN</p>
<p> 38 - ROLAND BILLY</p>
<p> 39 - JAY SHOEMAKE</p>
<p> 40 - MATT JIMMIE</p>
<p> 41 - CLIFTON WILLIS</p>
<p> 42 - ALBERT CHARLIE</p>
<p> 43 - RODDY NICKEY</p>
<p> 44 - LATHOM WILLIAMS, SR.</p>
<p> 45 - DAY'LEON PHILLIPS</p>
<p> 46 - THOMAS JIM, SR.</p>
<p> 47 - LORENZO SHOEMAKE</p>
<p> 48 - DANNY ANDERSON, JR.</p>
<p> 49 - SHAWN SHOEMAKE</p>
<p> 50 - MARCO WICKSON</p>
<p> 51 - BJOIN MCMILLAN</p>
<p> 52 - GRANTHAN STEVE</p>
<p> 53 - DANTA COTTON</p>
<p> 54 - DAMEON CHICKAWAY</p>
<p> 55 - KYLER JEFFERSON</p>
<p> 56 - GENO MACK</p>
<p> 57 - DILLON VAUGHN</p>
<p> 58 - JUSTIN THOMAS</p>
<p> 59 - BRUCE JEFFERSON</p>
<p> 60 - SAMUEL WALLACE</p>
<p> 61 - LAETTNER JOHNSON</p>
<p> 62 - WILLIAM ISAAC</p>
<p> 63 - MICAH SWIMMER</p>
<p> 64 - GORDIN CHARLIE</p>
<p> 65 - SAVALAS ANDERSON</p>
<p> 66 - DAVIN SOLOMON</p>
<p> 67 - CRAIG ANDERSON</p>
<p> 68 - JERON JOHNSON</p>
<p> 69 - GREGORY SHOEMAKE</p>
<p> 70 - BRENTON BILLY</p>
<p> 71 - FOREST BILLY</p>
<p> 72 - JESSIE WILLIAMS</p>
<p> 73 - NIGEL JEFFERSON</p>
<p> 74 - JUSTIN SAM</p>
<p> 75 - WADE BEN</p>
<p> 76 - SHAWN SMITH</p>
<p> 77 - DEE FAULKNER</p>
<p> 78 - DICENZO SAM</p>
<p> 79 - YUNNEL WILLIS</p>
<p> 80 - JAY ANDERSON</p>
<p> 81 - COBY SMITH</p>
<p> 82 - SERMAN BELL</p>
<p> 83 - TROY GREGORY</p>
<p> 84 - FABION ANDERSON</p>
<p> 85 - MELFORD SMITH</p>
<p> 86 - BRYANT WILSON</p>
<p> 87 - TYRELL ANDERSON</p>
<p> 88 - RODERICK ANDERSON</p>
<p> 89 - NICHOLAS STEPHENS</p>
<p> 90 - STANLEY TUBBY, JR.</p>
<p> 91 - JUSTIN BELL</p>
<p> 92 - TUSHKA WILLIS</p>
<p> 93 - WESLEY WILLIS</p>
<p> 94 - CHRISTIANSON THOMAS</p>
<p> 95 - ISAIAH BILLY</p>
<p> 96 - EMMERSON BILLY</p>
<p> 97 - YUNISH BILLY</p>
<p> 98 - ERIC BILLY, JR.</p>
<p> 99 - JOEY STEPHENS</p>
<p>100 - JIMMY WILLIAMS</p>
<p>101 - COHEN KEATS</p>
<p>102 - JAMAL WILLIS</p>
<p>103 - KALEB CHICKAWAY</p>
<p>104 - JAYLEN DIXON</p>
<p>105 - JORDAN BELL</p>
<p>106 - KURTLAND WILLIAMSON</p>
<p>107 - CASSON WILSON</p>
<p>108 - CHAZZ NICKEY</p>
<p>109 - BELVIN WILLIS</p>
<p>110 - KEANTRY THOMAS</p>
<p>111 - WILBURN WILLIAMSON, JR.</p>
<p>112 - BRANT ISAAC, JR.</p>
<p>113 - EDDIE DIXON, JR.</p>
<p>114 - KEYNON WILSON</p>
<p>115 - HARLEY BRISCOE</p>
<p>116 - TEDDY HICKMAN</p>
<p>117 - TRENT JOHNSON</p>
<p>118 - MAX ANDERSON</p>
<p>119 - GABE ANDERSON</p>
<p>120 - HUNTER SMITH</p>
<p>121 - RODNEY BILLY</p>
<p>122 - ZACH THOMPSON</p>
<p>123 - KAMERON THOMAS</p>
<p>124 - WILLIAM MCMILLAN</p>
<p>125 - VINCENT SMITH</p>
<p>131 - DEWETT PHILLIPS</p>
<p>132 - BO STEVE</p>
<p>135 - RICKY EDWARDS, JR.</p>
