<h5>KONI HATA</h5>
<h6>COACH: TIMOTHY THOMAS, SR.</h6>
<table class="table table-dark table-striped">
    <tbody>
        <tr><th scope="row">0</th><td>JIMMY TANGLE</td></tr>
        <tr><th scope="row">1</th><td>DALVIN WILLIAMS</td></tr>
        <tr><th scope="row">2</th><td>TIMOTHY THOMAS, SR.</td></tr>
        <tr><th scope="row">3</th><td>JOHN THOMAS</td></tr>
        <tr><th scope="row">4</th><td>CHAD JOHNSON</td></tr>
        <tr><th scope="row">5</th><td>JULIAN DIXON</td></tr>
        <tr><th scope="row">6</th><td>CURTIS WILLIAMSON</td></tr>
        <tr><th scope="row">7</th><td>CHRIS KING</td></tr>
        <tr><th scope="row">8</th><td>BOBBY WILLIAMS, JR.</td></tr>
        <tr><th scope="row">9</th><td>JERON JOHNSON</td></tr>
        <tr><th scope="row">10</th><td>BOBBY MCMILLAN</td></tr>
        <tr><th scope="row">11</th><td>WILBURN WILLIAMSON</td></tr>
        <tr><th scope="row">12</th><td>ERIC BILLY</td></tr>
        <tr><th scope="row">13</th><td>LAMO JOHNSON</td></tr>
        <tr><th scope="row">14</th><td>CLIFTON WILLIS</td></tr>
        <tr><th scope="row">15</th><td>DEWIGHT MCMILLAN</td></tr>
        <tr><th scope="row">16</th><td>BELVIN WILLIS</td></tr>
        <tr><th scope="row">17</th><td>AARON CHARLIE</td></tr>
        <tr><th scope="row">18</th><td>BEN SMITH</td></tr>
        <tr><th scope="row">19</th><td>TODD THOMAS</td></tr>
        <tr><th scope="row">20</th><td>STEWART THOMAS</td></tr>
        <tr><th scope="row">21</th><td>GRANT WILLIAMS</td></tr>
        <tr><th scope="row">22</th><td>GRANT BEN</td></tr>
        <tr><th scope="row">23</th><td>ERIC B. WILLIS</td></tr>
        <tr><th scope="row">24</th><td>MICAH SWIMMER</td></tr>
        <tr><th scope="row">25</th><td>SCOTTIE NICKEY</td></tr>
        <tr><th scope="row">26</th><td>GRANTHAM STEVE</td></tr>
        <tr><th scope="row">27</th><td>JAY ANDERSON</td></tr>
        <tr><th scope="row">28</th><td>TEDDY HICKMAN</td></tr>
        <tr><th scope="row">29</th><td>MIKE WILLIAMSON</td></tr>
        <tr><th scope="row">30</th><td>QUENDEL SHOEMAKE</td></tr>
        <tr><th scope="row">31</th><td>CRAIG ANDERSON</td></tr>
        <tr><th scope="row">32</th><td>DALE PHILLIPS, JR.</td></tr>
        <tr><th scope="row">34</th><td>GARTH CHARLIE</td></tr>
        <tr><th scope="row">35</th><td>BRANT ISAAC</td></tr>
        <tr><th scope="row">36</th><td>MELFORD SMITH</td></tr>
        <tr><th scope="row">37</th><td>JASON THOMAS</td></tr>
        <tr><th scope="row">38</th><td>LAVERETTE WILLIAMS</td></tr>
        <tr><th scope="row">39</th><td>JAY SHOEMAKE</td></tr>
        <tr><th scope="row">40</th><td>MIKE ANDERSON</td></tr>
        <tr><th scope="row">41</th><td>YUNNEL WILLIS</td></tr>
        <tr><th scope="row">42</th><td>TODD JIM</td></tr>
        <tr><th scope="row">43</th><td>RODDY NICKEY</td></tr>
        <tr><th scope="row">44</th><td>LUCAS THOMAS</td></tr>
        <tr><th scope="row">45</th><td>LATHOM WILLIAMS, SR.</td></tr>
        <tr><th scope="row">46</th><td>DAVID SMITH</td></tr>
        <tr><th scope="row">47</th><td>DANNY KING</td></tr>
        <tr><th scope="row">49</th><td>MARTY WILLIAMS</td></tr>
        <tr><th scope="row">50</th><td>MARCO WICKSON</td></tr>
        <tr><th scope="row">51</th><td>BJOIN MCMILLAN</td></tr>
        <tr><th scope="row">52</th><td>JERIS SHOEMAKE</td></tr>
        <tr><th scope="row">53</th><td>JOHNNY BELL</td></tr>
        <tr><th scope="row">54</th><td>DERRICK THOMPSON</td></tr>
        <tr><th scope="row">55</th><td>JASON GRISHAM</td></tr>
        <tr><th scope="row">56</th><td>GENO MACK</td></tr>
        <tr><th scope="row">59</th><td>LEE SHOEMAKE, JR.</td></tr>
        <tr><th scope="row">60</th><td>DONOVAN KING</td></tr>
        <tr><th scope="row">64</th><td>VERNON KING</td></tr>
        <tr><th scope="row">65</th><td>PHILLIP BEN</td></tr>
        <tr><th scope="row">66</th><td>DAVID SOLOMON</td></tr>
        <tr><th scope="row">69</th><td>GREGORY SHOEMAKE</td></tr>
        <tr><th scope="row">72</th><td>RONALD JIM</td></tr>
        <tr><th scope="row">76</th><td>RODNEY BELL</td></tr>
        <tr><th scope="row">77</th><td>VICTOR FAKER</td></tr>
        <tr><th scope="row">79</th><td>WES WALLACE</td></tr>
        <tr><th scope="row">91</th><td>MARCUS JIMMIE</td></tr>
        <tr><th scope="row">98</th><td>ZACHARY THOMPSON</td></tr>
        <tr><th scope="row">99</th><td>JASON BELL, SR.</td></tr>
    </tbody>
</table>
