<h5>KONI HATA</h5>
<h6>COACHES: GREGORY SHOEMAKE, RODDY NICKEY, LAMO JOHNSON, TIMOTHY THOMAS</h6>
<table class="table table-dark table-striped">
    <tbody>
        <tr><th scope="row">0</th><td>CHAD JOHNSON</td></tr>
        <tr><th scope="row">1</th><td>RONALD BILLY, JR.</td></tr>
        <tr><th scope="row">2</th><td>TIMOTHY THOMAS, SR.</td></tr>
        <tr><th scope="row">3</th><td>JOHN THOMAS</td></tr>
        <tr><th scope="row">4</th><td>JAMIE WESLEY</td></tr>
        <tr><th scope="row">5</th><td>JULIAN DIXON</td></tr>
        <tr><th scope="row">6</th><td>CURTIS WILLIAMSON</td></tr>
        <tr><th scope="row">7</th><td>CHRISTOPHER KING</td></tr>
        <tr><th scope="row">8</th><td>BOBBY WILLIAMS, JR.</td></tr>
        <tr><th scope="row">9</th><td>ALARYS JOHSON</td></tr>
        <tr><th scope="row">10</th><td>DAKOTA HICKS</td></tr>
        <tr><th scope="row">11</th><td>CALEB WILLIAMSON</td></tr>
        <tr><th scope="row">12</th><td>ERIC BILLY, SR.</td></tr>
        <tr><th scope="row">13</th><td>MCCOY JOHNSON</td></tr>
        <tr><th scope="row">14</th><td>AZALIUS LEWIS</td></tr>
        <tr><th scope="row">15</th><td>ARRION WILLIAMSON</td></tr>
        <tr><th scope="row">16</th><td>JUSTIN WILLIS</td></tr>
        <tr><th scope="row">17</th><td>BRETT SHOEMAKE</td></tr>
        <tr><th scope="row">18</th><td>DANOVAN KING</td></tr>
        <tr><th scope="row">19</th><td>JOSHUA SMITH</td></tr>
        <tr><th scope="row">20</th><td>XAVIER JIMMIE</td></tr>
        <tr><th scope="row">21</th><td>KAINEN WILLIAMS</td></tr>
        <tr><th scope="row">22</th><td>JOSHUA THOMAS</td></tr>
        <tr><th scope="row">23</th><td>ERIC WILLIS</td></tr>
        <tr><th scope="row">24</th><td>KELBY ANDERSON</td></tr>
        <tr><th scope="row">25</th><td>MITCH SHOEMAKE</td></tr>
        <tr><th scope="row">26</th><td>AARON CHARLIE</td></tr>
        <tr><th scope="row">27</th><td>TORONEL WILLIS</td></tr>
        <tr><th scope="row">28</th><td>DELRAY SOCKEY</td></tr>
        <tr><th scope="row">29</th><td>LAMO JOHNSON</td></tr>
        <tr><th scope="row">30</th><td>QUENDAL SHOEMAKE</td></tr>
        <tr><th scope="row">31</th><td>DAKOTA ANDERSON</td></tr>
        <tr><th scope="row">32</th><td>GARRISON EDWARDS</td></tr>
        <tr><th scope="row">33</th><td>GRANT WILLIAMS</td></tr>
        <tr><th scope="row">34</th><td>TREYTON BEN</td></tr>
        <tr><th scope="row">35</th><td>DALVIN WILLIAMS</td></tr>
        <tr><th scope="row">36</th><td>ETHAN SMITH</td></tr>
        <tr><th scope="row">37</th><td>DEBRENT JOHN</td></tr>
        <tr><th scope="row">38</th><td>ROLAND BILLY</td></tr>
        <tr><th scope="row">39</th><td>JAY SHOEMAKE</td></tr>
        <tr><th scope="row">40</th><td>MATT JIMMIE</td></tr>
        <tr><th scope="row">41</th><td>CLIFTON WILLIS</td></tr>
        <tr><th scope="row">42</th><td>ALBERT CHARLIE</td></tr>
        <tr><th scope="row">43</th><td>RODDY NICKEY</td></tr>
        <tr><th scope="row">44</th><td>LATHOM WILLIAMS, SR.</td></tr>
        <tr><th scope="row">45</th><td>DAY'LEON PHILLIPS</td></tr>
        <tr><th scope="row">46</th><td>THOMAS JIM, SR.</td></tr>
        <tr><th scope="row">47</th><td>LORENZO SHOEMAKE</td></tr>
        <tr><th scope="row">48</th><td>DANNY ANDERSON, JR.</td></tr>
        <tr><th scope="row">49</th><td>SHAWN SHOEMAKE</td></tr>
        <tr><th scope="row">50</th><td>MARCO WICKSON</td></tr>
        <tr><th scope="row">51</th><td>BJOIN MCMILLAN</td></tr>
        <tr><th scope="row">52</th><td>GRANTHAN STEVE</td></tr>
        <tr><th scope="row">53</th><td>DANTA COTTON</td></tr>
        <tr><th scope="row">54</th><td>DAMEON CHICKAWAY</td></tr>
        <tr><th scope="row">55</th><td>KYLER JEFFERSON</td></tr>
        <tr><th scope="row">57</th><td>DILLON VAUGHN</td></tr>
        <tr><th scope="row">58</th><td>JUSTIN THOMAS</td></tr>
        <tr><th scope="row">59</th><td>BRUCE JEFFERSON</td></tr>
        <tr><th scope="row">60</th><td>SAMUEL WALLACE</td></tr>
        <tr><th scope="row">61</th><td>LAETTNER JOHNSON</td></tr>
        <tr><th scope="row">62</th><td>WILLIAM ISAAC</td></tr>
        <tr><th scope="row">63</th><td>MICAH SWIMMER</td></tr>
        <tr><th scope="row">64</th><td>GORDIN CHARLIE</td></tr>
        <tr><th scope="row">65</th><td>SAVALAS ANDERSON</td></tr>
        <tr><th scope="row">66</th><td>DAVIN SOLOMON</td></tr>
        <tr><th scope="row">67</th><td>CRAIG ANDERSSON</td></tr>
        <tr><th scope="row">68</th><td>JERON JOHNSON</td></tr>
        <tr><th scope="row">69</th><td>GREGORY SHOEMAKE</td></tr>
        <tr><th scope="row">70</th><td>BRENTON BILLY</td></tr>
        <tr><th scope="row">71</th><td>FOREST BILLY</td></tr>
        <tr><th scope="row">72</th><td>JESSIE WILLIAMS</td></tr>
        <tr><th scope="row">73</th><td>NIGEL JEFFERSON</td></tr>
        <tr><th scope="row">74</th><td>JUSTIN SAM</td></tr>
        <tr><th scope="row">75</th><td>WADE BEN</td></tr>
        <tr><th scope="row">76</th><td>SHAWN SMITH</td></tr>
        <tr><th scope="row">77</th><td>DEE FAULKNER</td></tr>
        <tr><th scope="row">78</th><td>DICENZO SAM</td></tr>
        <tr><th scope="row">79</th><td>YUNNEL WILLIS</td></tr>
        <tr><th scope="row">80</th><td>JAY ANDERSON</td></tr>
        <tr><th scope="row">81</th><td>COBY SMITH</td></tr>
        <tr><th scope="row">82</th><td>SERMAN BELL</td></tr>
        <tr><th scope="row">83</th><td>TROY GREGORY</td></tr>
        <tr><th scope="row">84</th><td>FABION ANDERSON</td></tr>
        <tr><th scope="row">85</th><td>MELFORD SMITH</td></tr>
        <tr><th scope="row">86</th><td>BRYANT WILSON</td></tr>
        <tr><th scope="row">87</th><td>TYRELL ANDERSON</td></tr>
        <tr><th scope="row">88</th><td>RODERICK ANDERSON</td></tr>
        <tr><th scope="row">89</th><td>NICHOLAS STEPHENS</td></tr>
        <tr><th scope="row">90</th><td>STANLEY TUBBY, JR.</td></tr>
        <tr><th scope="row">91</th><td>JUSTIN BELL</td></tr>
        <tr><th scope="row">92</th><td>TUSHKA WILLIS</td></tr>
        <tr><th scope="row">93</th><td>WESLEY WILLIS</td></tr>
        <tr><th scope="row">94</th><td>CHRISTIANSON THOMAS</td></tr>
        <tr><th scope="row">95</th><td>ISAIAH BILLY</td></tr>
        <tr><th scope="row">96</th><td>EMMERSON BILLY</td></tr>
        <tr><th scope="row">97</th><td>YUNISH BILLY</td></tr>
        <tr><th scope="row">98</th><td>ERIC BILLY, JR.</td></tr>
        <tr><th scope="row">99</th><td>JOEY STEPHENS</td></tr>
        <tr><th scope="row">100</th><td>JIMMY WILLIAMS</td></tr>
        <tr><th scope="row">101</th><td>COHEN KEATS</td></tr>
        <tr><th scope="row">102</th><td>JAMAL WILLIS</td></tr>
        <tr><th scope="row">103</th><td>KALEB CHICKAWAY</td></tr>
        <tr><th scope="row">104</th><td>JAYLEN DIXON</td></tr>
        <tr><th scope="row">105</th><td>JORDAN BELL</td></tr>
        <tr><th scope="row">106</th><td>KURTLAND WILLIAMSON</td></tr>
        <tr><th scope="row">107</th><td>CASSON WILSON</td></tr>
        <tr><th scope="row">108</th><td>CHAZZ NICKEY</td></tr>
        <tr><th scope="row">109</th><td>BELVIN WILLIS</td></tr>
        <tr><th scope="row">110</th><td>KEANTRY THOMAS</td></tr>
        <tr><th scope="row">111</th><td>WILBURN WILLIAMSON, JR.</td></tr>
        <tr><th scope="row">112</th><td>BRANT ISAAC, JR.</td></tr>
        <tr><th scope="row">113</th><td>EDDIE DIXON, JR.</td></tr>
        <tr><th scope="row">114</th><td>KEYNON WILSON</td></tr>
        <tr><th scope="row">115</th><td>HARLEY BRISCOE</td></tr>
        <tr><th scope="row">116</th><td>TEDDY HICKMAN</td></tr>
        <tr><th scope="row">117</th><td>TRENT JOHNSON</td></tr>
        <tr><th scope="row">118</th><td>MAX ANDERSON</td></tr>
        <tr><th scope="row">119</th><td>GABE ANDERSON</td></tr>
        <tr><th scope="row">120</th><td>HUNTER SMITH</td></tr>
        <tr><th scope="row">121</th><td>RODNEY BILLY</td></tr>
        <tr><th scope="row">122</th><td>ZACH THOMPSON</td></tr>
        <tr><th scope="row">123</th><td>KAMERON THOMAS</td></tr>
        <tr><th scope="row">124</th><td>WILLIAM MCMILLAN</td></tr>
        <tr><th scope="row">125</th><td>VINCENT SMITH</td></tr>
        <tr><th scope="row">131</th><td>DEWETT PHILLIPS</td></tr>
        <tr><th scope="row">132</th><td>BO STEVE</td></tr>
        <tr><th scope="row">135</th><td>RICKY EDWARDS, JR.</td></tr>
    </tbody>
</table>
