<h5>OKA HOMMA</h5>
<h6>COACHES: GABRIEL BILLIE, SAM JOHN</h6>
<table class="table table-dark table-striped">
    <tbody>
        <tr><th scope="row">0</th><td>KEVIN GRISHAM</td></tr>
        <tr><th scope="row">1</th><td>JEREMY WESLEY</td></tr>
        <tr><th scope="row">2</th><td>KEVIN SOLOMON</td></tr>
        <tr><th scope="row">3</th><td>JONATHAN DENSON</td></tr>
        <tr><th scope="row">4</th><td>GABRIEL BILLIE</td></tr>
        <tr><th scope="row">5</th><td>COREY FLINT</td></tr>
        <tr><th scope="row">6</th><td>SAM JOHN</td></tr>
        <tr><th scope="row">7</th><td>JERMIKA JOHN</td></tr>
        <tr><th scope="row">8</th><td>BRIAN FARMER</td></tr>
        <tr><th scope="row">9</th><td>EDMOND SAM, JR.</td></tr>
        <tr><th scope="row">10</th><td>HENRY DIXON, JR.</td></tr>
        <tr><th scope="row">12</th><td>MANUEL DIXON</td></tr>
        <tr><th scope="row">13</th><td>JEREMY STEPHENS</td></tr>
        <tr><th scope="row">14</th><td>GERALD ISOM</td></tr>
        <tr><th scope="row">15</th><td>GARRICK SAM</td></tr>
        <tr><th scope="row">16</th><td>LUTHER TRUSS</td></tr>
        <tr><th scope="row">17</th><td>JEREMIAH THOMPSON</td></tr>
        <tr><th scope="row">18</th><td>RYLAND WESLEY</td></tr>
        <tr><th scope="row">19</th><td>GREG DIXON</td></tr>
        <tr><th scope="row">20</th><td>BRIAN BILLIE</td></tr>
        <tr><th scope="row">21</th><td>JAMION SHOEMAKE</td></tr>
        <tr><th scope="row">22</th><td>MICKEY POLK</td></tr>
        <tr><th scope="row">23</th><td>FREDRICK DIXON, SR.</td></tr>
        <tr><th scope="row">24</th><td>REGIS WILSON</td></tr>
        <tr><th scope="row">25</th><td>ERIC DIXON, SR.</td></tr>
        <tr><th scope="row">26</th><td>BEASLEY WILLIS, JR.</td></tr>
        <tr><th scope="row">27</th><td>JONAH BELL</td></tr>
        <tr><th scope="row">28</th><td>DAVE BILLY</td></tr>
        <tr><th scope="row">29</th><td>MERRILL VAUGHN</td></tr>
        <tr><th scope="row">30</th><td>LANDON JOHN</td></tr>
        <tr><th scope="row">31</th><td>JAMISON JOHNSON</td></tr>
        <tr><th scope="row">32</th><td>EMERY DENSON</td></tr>
        <tr><th scope="row">33</th><td>MATTHEW GIBSON</td></tr>
        <tr><th scope="row">34</th><td>PHILLIP WILLIAMS</td></tr>
        <tr><th scope="row">35</th><td>HOWARD DIXON, JR.</td></tr>
        <tr><th scope="row">36</th><td>GERRARD COOK</td></tr>
        <tr><th scope="row">37</th><td>ROBERT BEN</td></tr>
        <tr><th scope="row">38</th><td>COREY SAM</td></tr>
        <tr><th scope="row">39</th><td>CAGNEY EDWARDS</td></tr>
        <tr><th scope="row">40</th><td>VERNAN FRAZIER</td></tr>
        <tr><th scope="row">41</th><td>AUSTIN TUBBY</td></tr>
        <tr><th scope="row">42</th><td>JULIUS WILLIS</td></tr>
        <tr><th scope="row">43</th><td>SHAUN JIMMIE</td></tr>
        <tr><th scope="row">44</th><td>AL DIXON</td></tr>
        <tr><th scope="row">45</th><td>ZACHARY GIBSON</td></tr>
        <tr><th scope="row">46</th><td>DEWAYNE BILLY</td></tr>
        <tr><th scope="row">47</th><td>BENJAMIN STEPHENS</td></tr>
        <tr><th scope="row">50</th><td>RANDY TANGLE</td></tr>
        <tr><th scope="row">51</th><td>ELIJAH BEN</td></tr>
        <tr><th scope="row">55</th><td>RYAN YORK</td></tr>
        <tr><th scope="row">60</th><td>RICHARD ISAAC</td></tr>
        <tr><th scope="row">65</th><td>GREG ANDERSON</td></tr>
        <tr><th scope="row">66</th><td>LEONARD BELL</td></tr>
        <tr><th scope="row">69</th><td>STACEY BILLY</td></tr>
        <tr><th scope="row">70</th><td>ELI SOCKEY</td></tr>
        <tr><th scope="row">72</th><td>ROD SOCKEY</td></tr>
        <tr><th scope="row">77</th><td>SHELLY PEOPLES</td></tr>
        <tr><th scope="row">79</th><td>STANLEY TUBBY</td></tr>
        <tr><th scope="row">80</th><td>DANNY DIXON</td></tr>
        <tr><th scope="row">83</th><td>WARREN DIXON</td></tr>
        <tr><th scope="row">99</th><td>BILL FARMER</td></tr>
    </tbody>
</table>
