<h5>OKA HOMMA OHÓYOS</h5>
<h6>COACHES: FABIEN TUBBY</h6>
<table class="table table-dark table-striped">
    <tbody>
        <tr><th scope="row">0</th><td>SESILEY ROBERTSON</td></tr>
        <tr><th scope="row">1</th><td>EMILY SCOBEE</td></tr>
        <tr><th scope="row">2</th><td>AALEYIAH WILLIS</td></tr>
        <tr><th scope="row">3</th><td>JUSTINE ISAAC</td></tr>
        <tr><th scope="row">4</th><td>JAMIE CHRISTIE</td></tr>
        <tr><th scope="row">5</th><td>KIMBERLY CHICKAWAY</td></tr>
        <tr><th scope="row">7</th><td>CHRISTINA WILSON</td></tr>
        <tr><th scope="row">8</th><td>ASHLEN HICKS</td></tr>
        <tr><th scope="row">9</th><td>TIA GRISHAM</td></tr>
        <tr><th scope="row">10</th><td>ERICA DIXON</td></tr>
        <tr><th scope="row">11</th><td>BROOKE DIXON</td></tr>
        <tr><th scope="row">12</th><td>CARMELITA YBARRA</td></tr>
        <tr><th scope="row">13</th><td>GWEN SORRELL</td></tr>
        <tr><th scope="row">14</th><td>MARTISHA DIXON</td></tr>
        <tr><th scope="row">15</th><td>BEVERLY CANNON</td></tr>
        <tr><th scope="row">16</th><td>SONYA WILLIS</td></tr>
        <tr><th scope="row">18</th><td>LATONYA BELL</td></tr>
        <tr><th scope="row">19</th><td>ALEXIS SAM</td></tr>
        <tr><th scope="row">21</th><td>HEATHER TANGLE</td></tr>
        <tr><th scope="row">22</th><td>BREANNA JEFFERSON</td></tr>
        <tr><th scope="row">23</th><td>ALLISON MEELY</td></tr>
        <tr><th scope="row">24</th><td>JALISSA LEWIS</td></tr>
        <tr><th scope="row">25</th><td>KRISTIN JOSH</td></tr>
        <tr><th scope="row">26</th><td>SHELBY REED</td></tr>
        <tr><th scope="row">27</th><td>LYNOVA WILLIS</td></tr>
        <tr><th scope="row">29</th><td>SHILIA WILLIS</td></tr>
        <tr><th scope="row">30</th><td>TIARA COTTON</td></tr>
        <tr><th scope="row">31</th><td>VALARIE SUTTON</td></tr>
        <tr><th scope="row">32</th><td>SHEYANN BELL</td></tr>
        <tr><th scope="row">33</th><td>SHARI JEFFERSON</td></tr>
        <tr><th scope="row">40</th><td>PANDORA DIXON</td></tr>
        <tr><th scope="row">41</th><td>ASHLEY STICK</td></tr>
        <tr><th scope="row">42</th><td>DANITA D. WILLIS</td></tr>
        <tr><th scope="row">44</th><td>HALLIE FRAZIER</td></tr>
        <tr><th scope="row">47</th><td>CHARISITY TUBBY</td></tr>
        <tr><th scope="row">50</th><td>CHELSEY BELL</td></tr>
        <tr><th scope="row">52</th><td>SHAUNA LEWIS</td></tr>
        <tr><th scope="row">68</th><td>KERI POLK</td></tr>
        <tr><th scope="row">80</th><td>HELLEN MOORE</td></tr>
        <tr><th scope="row">86</th><td>KELLY TUBBY</td></tr>
        <tr><th scope="row">89</th><td>STACY DIXON</td></tr>
        <tr><th scope="row">99</th><td>REBEKAH WILLIS</td></tr>
    </tbody>
</table>
