<h5>KONI HATA OHÓYO</h5>
<h6>COACHES: JERON JOHNSON, BJOIN MCMILLAN, GRANT WILLIAMS, CLIFTON WILLIS</h6>
<table class="table table-dark table-striped">
    <tbody>
        <tr><th scope="row">0</th><td>ZENETTA WILLIAMS</td></tr>
        <tr><th scope="row">1</th><td>ALICIA JEFFERSON</td></tr>
        <tr><th scope="row">2</th><td>ANDREA JEFFERSON</td></tr>
        <tr><th scope="row">3</th><td>LEONA BILLY</td></tr>
        <tr><th scope="row">4</th><td>ERICA PHILLIPS</td></tr>
        <tr><th scope="row">5</th><td>EMILY SHOEMAKE</td></tr>
        <tr><th scope="row">6</th><td>KATELYN SHOEMAKE</td></tr>
        <tr><th scope="row">7</th><td>HANNAH SAM</td></tr>
        <tr><th scope="row">8</th><td>ANNA DENSON</td></tr>
        <tr><th scope="row">9</th><td>SHANINE MCMILLAN</td></tr>
        <tr><th scope="row">10</th><td>CHIRAL STEPHENS</td></tr>
        <tr><th scope="row">11</th><td>LARAYA MCMILLAN</td></tr>
        <tr><th scope="row">12</th><td>DEAUNDREA JOHNSON</td></tr>
        <tr><th scope="row">13</th><td>JESSAMINE THOMAS</td></tr>
        <tr><th scope="row">14</th><td>SHAMAIYA ANDERSON</td></tr>
        <tr><th scope="row">15</th><td>APRIL ALLEN</td></tr>
        <tr><th scope="row">16</th><td>KRISTEN CROSBY</td></tr>
        <tr><th scope="row">17</th><td>SHAVON WILLIS</td></tr>
        <tr><th scope="row">18</th><td>MILDRED JIMMIE</td></tr>
        <tr><th scope="row">19</th><td>AUDREY JIMMIE</td></tr>
        <tr><th scope="row">20</th><td>MELODY JIMMIE</td></tr>
        <tr><th scope="row">21</th><td>LASHAYLA MCMILLAN</td></tr>
        <tr><th scope="row">22</th><td>MANDY BILLY</td></tr>
        <tr><th scope="row">23</th><td>JONICA THOMAS</td></tr>
        <tr><th scope="row">24</th><td>LATRICIA JOHNSON</td></tr>
        <tr><th scope="row">25</th><td>NASTASSIJA WESLEY</td></tr>
        <tr><th scope="row">26</th><td>CARLA FEATHERS</td></tr>
        <tr><th scope="row">27</th><td>JASHUANIQUE STEVE</td></tr>
        <tr><th scope="row">28</th><td>ALANTA ANDERSON</td></tr>
        <tr><th scope="row">29</th><td>JANA CHICKAWAY</td></tr>
        <tr><th scope="row">30</th><td>KARIENNA THOMAS</td></tr>
        <tr><th scope="row">31</th><td>SHILANDA WALLACE</td></tr>
        <tr><th scope="row">32</th><td>SHERONDA BAKER</td></tr>
        <tr><th scope="row">33</th><td>TAMARA HATHORNE</td></tr>
        <tr><th scope="row">34</th><td>RELISSIA RAY</td></tr>
        <tr><th scope="row">35</th><td>BLAINE MARTIN</td></tr>
        <tr><th scope="row">36</th><td>MALLORY ANDERSON</td></tr>
        <tr><th scope="row">37</th><td>KEDRIAN WILLIS</td></tr>
        <tr><th scope="row">38</th><td>SUMMER WESLEY</td></tr>
        <tr><th scope="row">40</th><td>KENYATTA WILLIS</td></tr>
        <tr><th scope="row">41</th><td>RHONDA BELL</td></tr>
        <tr><th scope="row">42</th><td>GLORIA WILLIS</td></tr>
        <tr><th scope="row">43</th><td>JENNIFER SHOMO</td></tr>
        <tr><th scope="row">44</th><td>CLARISSA FRAZIER</td></tr>
        <tr><th scope="row">46</th><td>KANDACE LASILOO</td></tr>
        <tr><th scope="row">47</th><td>BREANNA LASILOO</td></tr>
        <tr><th scope="row">48</th><td>ANITRA FRAZIER</td></tr>
        <tr><th scope="row">49</th><td>TAYLOR ALLEN</td></tr>
        <tr><th scope="row">50</th><td>LARENA MCMILLAN</td></tr>
        <tr><th scope="row">51</th><td>JAILAH JEFFERSON</td></tr>
        <tr><th scope="row">52</th><td>NEOKA CHAPMAN</td></tr>
        <tr><th scope="row">53</th><td>ADRIAN CHAPMAN</td></tr>
        <tr><th scope="row">54</th><td>AMANDA JEFFERSON</td></tr>
        <tr><th scope="row">55</th><td>DANNY HARRIS</td></tr>
        <tr><th scope="row">56</th><td>JAYDEN MACK</td></tr>
        <tr><th scope="row">57</th><td>CASEY WILLIS</td></tr>
        <tr><th scope="row">58</th><td>JASIMINE CHICKAWAY</td></tr>
        <tr><th scope="row">59</th><td>SINDLE WILLIAMS</td></tr>
        <tr><th scope="row">60</th><td>MARIE WILSON</td></tr>
        <tr><th scope="row">61</th><td>ALYISSA JIM</td></tr>
        <tr><th scope="row">62</th><td>MELISSA JIM</td></tr>
        <tr><th scope="row">63</th><td>ALANA HICKMAN</td></tr>
        <tr><th scope="row">64</th><td>NATALIE JEFFERSON</td></tr>
        <tr><th scope="row">65</th><td>MELANIE STEPHENS</td></tr>
        <tr><th scope="row">68</th><td>KAYLA WAITER</td></tr>
        <tr><th scope="row">70</th><td>SHAUNNA CHAPMAN</td></tr>
        <tr><th scope="row">72</th><td>RAQUEL FARMER</td></tr>
        <tr><th scope="row">73</th><td>TABITHA JOHN</td></tr>
        <tr><th scope="row">74</th><td>BRANDI FARVE</td></tr>
        <tr><th scope="row">75</th><td>GWYNN GRANT</td></tr>
        <tr><th scope="row">76</th><td>PAMELYN HOBBS</td></tr>
        <tr><th scope="row">77</th><td>MARY HOUSE</td></tr>
        <tr><th scope="row">80</th><td>BRENDA SMITH</td></tr>
        <tr><th scope="row">82</th><td>DANIELLE PHILLIPS</td></tr>
        <tr><th scope="row">85</th><td>SHAWNTYE JOHNSON</td></tr>
        <tr><th scope="row">88</th><td>KISHA KING</td></tr>
        <tr><th scope="row">89</th><td>SHARAVEN FARMER</td></tr>
        <tr><th scope="row">90</th><td>SHAMEKA FARMER</td></tr>
        <tr><th scope="row">91</th><td>SHARAINA FARMER</td></tr>
        <tr><th scope="row">92</th><td>SHATINA FARMER</td></tr>
        <tr><th scope="row">93</th><td>BREANNA VAUGHN</td></tr>
        <tr><th scope="row">95</th><td>MALANINA GRASSHOPPER</td></tr>
        <tr><th scope="row">97</th><td>ROSA SARDINA</td></tr>
        <tr><th scope="row">98</th><td>CARRIE STEPHENS</td></tr>
        <tr><th scope="row">99</th><td>MAHALIH MCMILLAN</td></tr>
    </tbody>
</table>
