<h5>TUCKER ALHÍHA</h5>
<h6>COACHES: HARLAN G. BELL, PATRICK HEWLIN, FREDRICK BELL</h6>
<table class="table table-dark table-striped">
    <tbody>
        <tr><th scope="row">0</th><td>HILLARY JOE</td></tr>
        <tr><th scope="row">1</th><td>CHASSIDY BELL</td></tr>
        <tr><th scope="row">2</th><td>RACHEL BELL</td></tr>
        <tr><th scope="row">3</th><td>HOFANTE WILLIS</td></tr>
        <tr><th scope="row">5</th><td>SKYLA BELL</td></tr>
        <tr><th scope="row">6</th><td>JUANOKIA THOMAS</td></tr>
        <tr><th scope="row">7</th><td>ANITRA ANDERSON</td></tr>
        <tr><th scope="row">8</th><td>JUDY ISOM</td></tr>
        <tr><th scope="row">9</th><td>LATRISHA JOE</td></tr>
        <tr><th scope="row">10</th><td>VICTORIA BELL</td></tr>
        <tr><th scope="row">11</th><td>DARCIA SOLOMON</td></tr>
        <tr><th scope="row">12</th><td>BRITA WILSON</td></tr>
        <tr><th scope="row">13</th><td>JENNIFER WILLIS</td></tr>
        <tr><th scope="row">14</th><td>KOWANA NICKEY</td></tr>
        <tr><th scope="row">15</th><td>AKISHA BELL</td></tr>
        <tr><th scope="row">16</th><td>VERNALINE WILLIAMS</td></tr>
        <tr><th scope="row">17</th><td>JACKIE ALLEN</td></tr>
        <tr><th scope="row">18</th><td>CHERIYAH MCMILLAN</td></tr>
        <tr><th scope="row">19</th><td>SUDIANN FRAZIER</td></tr>
        <tr><th scope="row">20</th><td>MAYLENE HEWLIN</td></tr>
        <tr><th scope="row">21</th><td>AUDRIANA POLK</td></tr>
        <tr><th scope="row">22</th><td>TANYA BELL</td></tr>
        <tr><th scope="row">23</th><td>MIA KING</td></tr>
        <tr><th scope="row">24</th><td>KAYLA BELL</td></tr>
        <tr><th scope="row">25</th><td>FRANSHEKIA TUBBY</td></tr>
        <tr><th scope="row">26</th><td>TRISHALENA ROBINSON</td></tr>
        <tr><th scope="row">27</th><td>ANGEL EDWARDS</td></tr>
        <tr><th scope="row">28</th><td>KIJUANAH LEWIS</td></tr>
        <tr><th scope="row">29</th><td>ALEXIS FARMER</td></tr>
        <tr><th scope="row">30</th><td>SANDRA WESLEY</td></tr>
        <tr><th scope="row">31</th><td>ASHLEY JOHN</td></tr>
        <tr><th scope="row">32</th><td>LILLIE STEVE</td></tr>
        <tr><th scope="row">33</th><td>REESE TUBBY</td></tr>
        <tr><th scope="row">34</th><td>MARIAH DAVIS</td></tr>
        <tr><th scope="row">35</th><td>RENEESHA FARVE</td></tr>
        <tr><th scope="row">36</th><td>SARA BILLY-KING</td></tr>
        <tr><th scope="row">37</th><td>GEORGIANA POLK</td></tr>
        <tr><th scope="row">38</th><td>MARY FRAZIER</td></tr>
        <tr><th scope="row">40</th><td>VERA MONK</td></tr>
        <tr><th scope="row">42</th><td>DANI DIXON</td></tr>
        <tr><th scope="row">43</th><td>NASTASSIA HERNANDEZ</td></tr>
        <tr><th scope="row">45</th><td>MELISSA SOLOMON</td></tr>
        <tr><th scope="row">49</th><td>BURNA WILLIAMS</td></tr>
        <tr><th scope="row">50</th><td>ADRIENNE TUBBY</td></tr>
        <tr><th scope="row">54</th><td>ELIZA YORK</td></tr>
        <tr><th scope="row">55</th><td>AUTUMN MCMILLAN</td></tr>
        <tr><th scope="row">60</th><td>LAROSA THOMPSON</td></tr>
        <tr><th scope="row">66</th><td>TARA DIXON</td></tr>
        <tr><th scope="row">69</th><td>DEANNA LASARGE</td></tr>
        <tr><th scope="row">73</th><td>CASSONDRA FARVE</td></tr>
        <tr><th scope="row">79</th><td>DEANNA MCMILLAN</td></tr>
        <tr><th scope="row">80</th><td>RACHEL MCMILLAN</td></tr>
        <tr><th scope="row">93</th><td>JULIANNE JEFFERSON</td></tr>
        <tr><th scope="row">95</th><td>MALANEY NICKEY</td></tr>
        <tr><th scope="row">97</th><td>MARILINA JOE</td></tr>
        <tr><th scope="row">98</th><td>MILIYAH BELL</td></tr>
        <tr><th scope="row">99</th><td>AMANDA HICKMAN</td></tr>
    </tbody>
</table>
