<h5>TALI OHÓYO</h5>
<h6>COACHES: ROCKY ISOM, RONALD BILLY, SR.</h6>
<table class="table table-dark table-striped">
    <tbody>
        <tr><th scope="row">0</th><td>SHONIKA BILLY</td></tr>
        <tr><th scope="row">1</th><td>SHAE BILLY</td></tr>
        <tr><th scope="row">2</th><td>KRISTINA JIM</td></tr>
        <tr><th scope="row">3</th><td>DANICE KING</td></tr>
        <tr><th scope="row">4</th><td>CHRISTI LEWIS</td></tr>
        <tr><th scope="row">5</th><td>LAKA ANDERSON</td></tr>
        <tr><th scope="row">6</th><td>HOPE THOMAS</td></tr>
        <tr><th scope="row">8</th><td>JESSICA ANDERSON</td></tr>
        <tr><th scope="row">9</th><td>JAMONA SOLOMON</td></tr>
        <tr><th scope="row">10</th><td>SHARANDON ISOM</td></tr>
        <tr><th scope="row">11</th><td>ELIANA WISHORK</td></tr>
        <tr><th scope="row">12</th><td>LEIGHANNA THOMAS</td></tr>
        <tr><th scope="row">13</th><td>TARICA MCMILLAN</td></tr>
        <tr><th scope="row">14</th><td>MELIA SOLOMON</td></tr>
        <tr><th scope="row">15</th><td>SHYREECE WILLIAMS</td></tr>
        <tr><th scope="row">16</th><td>HANNAH ANDERSON</td></tr>
        <tr><th scope="row">17</th><td>DURNENE FARMER</td></tr>
        <tr><th scope="row">18</th><td>WANOKA SOLOMON</td></tr>
        <tr><th scope="row">19</th><td>ASHLEY MARTIN</td></tr>
        <tr><th scope="row">20</th><td>BRITTNEY MINGO</td></tr>
        <tr><th scope="row">21</th><td>LEQUITA KING</td></tr>
        <tr><th scope="row">22</th><td>LYNIKA BILLY</td></tr>
        <tr><th scope="row">23</th><td>TAYSIA LEWIS</td></tr>
        <tr><th scope="row">24</th><td>MALEAH ISAAC</td></tr>
        <tr><th scope="row">25</th><td>CHERRELL LEWIS</td></tr>
        <tr><th scope="row">26</th><td>CHARMAYNE HENRY</td></tr>
        <tr><th scope="row">27</th><td>JAYNA THOMAS</td></tr>
        <tr><th scope="row">28</th><td>MONICA SOLOMON</td></tr>
        <tr><th scope="row">29</th><td>CHRISINDA CHICKAWAY</td></tr>
        <tr><th scope="row">30</th><td>QUANNAH LEWIS</td></tr>
        <tr><th scope="row">31</th><td>SHONDRIA CHICKAWAY</td></tr>
        <tr><th scope="row">32</th><td>WILLEAN MINGO</td></tr>
        <tr><th scope="row">33</th><td>LAYLA WISHORK</td></tr>
        <tr><th scope="row">34</th><td>TENECIA BELL</td></tr>
        <tr><th scope="row">35</th><td>SHANTASHIA JOHN</td></tr>
        <tr><th scope="row">36</th><td>CENITRIA SMITH</td></tr>
        <tr><th scope="row">37</th><td>SARRICA ANDERSON</td></tr>
        <tr><th scope="row">38</th><td>JAIDEN THOMAS</td></tr>
        <tr><th scope="row">40</th><td>ASHTON SHUMAKE</td></tr>
        <tr><th scope="row">41</th><td>AMBER JEFFERSON</td></tr>
        <tr><th scope="row">43</th><td>BREANNE MINGO</td></tr>
        <tr><th scope="row">44</th><td>KRISTEN THOMAS</td></tr>
        <tr><th scope="row">45</th><td>TAMARAN JOHNSON</td></tr>
        <tr><th scope="row">46</th><td>KATRINA COTTON</td></tr>
        <tr><th scope="row">50</th><td>TARINA ANDERSON</td></tr>
        <tr><th scope="row">51</th><td>TRISHA MINGO</td></tr>
        <tr><th scope="row">55</th><td>CYNTHIA THOMAS</td></tr>
        <tr><th scope="row">58</th><td>KELSEY JOHN</td></tr>
        <tr><th scope="row">61</th><td>EVANGELINE KING</td></tr>
        <tr><th scope="row">65</th><td>RELINDIA BELL</td></tr>
        <tr><th scope="row">66</th><td>FERNELLIA THOMAS</td></tr>
        <tr><th scope="row">69</th><td>LATONYA WILLIS</td></tr>
        <tr><th scope="row">74</th><td>SAVANNAH JOHNSON</td></tr>
        <tr><th scope="row">78</th><td>LEANDREA JOHNSON</td></tr>
        <tr><th scope="row">91</th><td>CINIDRIA SMITH</td></tr>
        <tr><th scope="row">98</th><td>HANNAH LEWIS</td></tr>
        <tr><th scope="row">99</th><td>TRACEY BEN</td></tr>
    </tbody>
</table>
