<h5>LADY WARRIORS</h5>
<h6>COACHES: STEVE DIXON, KYLE JOHN, RIAN WILLIS</h6>
<table class="table table-dark table-striped">
    <tbody>
        <tr><th scope="row">1</th><td>DELANIE MCMILLAN</td></tr>
        <tr><th scope="row">2</th><td>CHEYONAH DIXON</td></tr>
        <tr><th scope="row">3</th><td>ASHA ROBINSON</td></tr>
        <tr><th scope="row">4</th><td>JADA WALLACE</td></tr>
        <tr><th scope="row">6</th><td>CRYSTAL LEWIS</td></tr>
        <tr><th scope="row">7</th><td>BROOKLYN BELL</td></tr>
        <tr><th scope="row">8</th><td>LAURA CHICKAWAY</td></tr>
        <tr><th scope="row">9</th><td>BETHANY JOHNSON</td></tr>
        <tr><th scope="row">11</th><td>LANA TUBBY</td></tr>
        <tr><th scope="row">12</th><td>DELIA CLEMMONS</td></tr>
        <tr><th scope="row">13</th><td>JONI BELL</td></tr>
        <tr><th scope="row">14</th><td>DENICIA WILLIS</td></tr>
        <tr><th scope="row">15</th><td>JOHNITA MINGO</td></tr>
        <tr><th scope="row">16</th><td>NIHIENA THOMAS</td></tr>
        <tr><th scope="row">17</th><td>DAYSHI HENRY</td></tr>
        <tr><th scope="row">18</th><td>RHONDA SAM</td></tr>
        <tr><th scope="row">19</th><td>KYLIE DAN</td></tr>
        <tr><th scope="row">20</th><td>CLYMENE BACON</td></tr>
        <tr><th scope="row">21</th><td>GLENDRA DIXON</td></tr>
        <tr><th scope="row">22</th><td>SHANNON NICKEY</td></tr>
        <tr><th scope="row">23</th><td>KATE CHICKAWAY</td></tr>
        <tr><th scope="row">24</th><td>LAUREN BEN</td></tr>
        <tr><th scope="row">25</th><td>JUSTINA DIXON</td></tr>
        <tr><th scope="row">26</th><td>KAYLA STEPHENS</td></tr>
        <tr><th scope="row">27</th><td>BRIDGETTE FARVE</td></tr>
        <tr><th scope="row">28</th><td>LACRISHA WILLIAMS</td></tr>
        <tr><th scope="row">29</th><td>LANTANNA FARVE</td></tr>
        <tr><th scope="row">30</th><td>KENDALL BEN</td></tr>
        <tr><th scope="row">31</th><td>WYNTER DIXON</td></tr>
        <tr><th scope="row">32</th><td>SHELIA WILLIS</td></tr>
        <tr><th scope="row">33</th><td>SAVANNA GALVAN</td></tr>
        <tr><th scope="row">34</th><td>LACYNTHIA DIXON</td></tr>
        <tr><th scope="row">35</th><td>PATRICIA JOE</td></tr>
        <tr><th scope="row">36</th><td>KAYLA JOE</td></tr>
        <tr><th scope="row">37</th><td>TIARA JOE</td></tr>
        <tr><th scope="row">38</th><td>AMBER BEN</td></tr>
        <tr><th scope="row">39</th><td>KAREDI SHUMAKE</td></tr>
        <tr><th scope="row">40</th><td>KENDRA SAM</td></tr>
        <tr><th scope="row">41</th><td>TASHA CHARLIE</td></tr>
        <tr><th scope="row">42</th><td>NIKKI COMBY</td></tr>
        <tr><th scope="row">43</th><td>SHAYLA TUBBY</td></tr>
        <tr><th scope="row">44</th><td>SHELVIE DIXON</td></tr>
        <tr><th scope="row">45</th><td>SHAMARA DIXON</td></tr>
        <tr><th scope="row">46</th><td>JAIDEN JACKSON</td></tr>
        <tr><th scope="row">47</th><td>LISA RHODD</td></tr>
        <tr><th scope="row">48</th><td>LAKEISHIA WALLACE</td></tr>
        <tr><th scope="row">49</th><td>ASHLEY WESLEY</td></tr>
        <tr><th scope="row">50</th><td>LYNN ALLEN</td></tr>
        <tr><th scope="row">51</th><td>KERI TUBBY</td></tr>
        <tr><th scope="row">52</th><td>SHONDRA DAVIS</td></tr>
        <tr><th scope="row">53</th><td>KIMBERLY WHITEBIRD</td></tr>
        <tr><th scope="row">54</th><td>REANNA JEFFERSON</td></tr>
        <tr><th scope="row">55</th><td>MARINA SMITH</td></tr>
        <tr><th scope="row">56</th><td>SHANTERIA WILLIS</td></tr>
        <tr><th scope="row">57</th><td>ALANNA JIM</td></tr>
        <tr><th scope="row">58</th><td>GINA THOMPSON</td></tr>
        <tr><th scope="row">59</th><td>LYNNITA KING</td></tr>
        <tr><th scope="row">60</th><td>HEIDI BILLY</td></tr>
        <tr><th scope="row">61</th><td>MARCIE JOE</td></tr>
        <tr><th scope="row">62</th><td>ELLA ISAAC</td></tr>
        <tr><th scope="row">63</th><td>KARLA JOE</td></tr>
        <tr><th scope="row">64</th><td>AMBER SMITH</td></tr>
        <tr><th scope="row">65</th><td>SHUNTA CLEMONS</td></tr>
        <tr><th scope="row">66</th><td>MALEISA SPRINGWATER</td></tr>
        <tr><th scope="row">67</th><td>KENDRA SIMPSON</td></tr>
        <tr><th scope="row">68</th><td>TAELOR SOCKEY</td></tr>
        <tr><th scope="row">69</th><td>JUSTINY BILLY</td></tr>
        <tr><th scope="row">70</th><td>COURTNEY NICKEY</td></tr>
        <tr><th scope="row">71</th><td>KENAYE WILLIS</td></tr>
        <tr><th scope="row">72</th><td>MELISSA WALLACE</td></tr>
        <tr><th scope="row">73</th><td>KARENE JEFFERSON</td></tr>
        <tr><th scope="row">74</th><td>BIANCA DIXON</td></tr>
        <tr><th scope="row">76</th><td>CHERIENA BEN</td></tr>
        <tr><th scope="row">77</th><td>TORRIE WILLIAMS</td></tr>
        <tr><th scope="row">78</th><td>ALYSSA ROBINSON</td></tr>
        <tr><th scope="row">79</th><td>VIRGINIA RICHARD</td></tr>
        <tr><th scope="row">80</th><td>JUSTINE BILLY</td></tr>
        <tr><th scope="row">81</th><td>BRIDGETTE ANDERSON</td></tr>
        <tr><th scope="row">82</th><td>BRITTANY JENKINS</td></tr>
        <tr><th scope="row">83</th><td>ORITA JENKINS</td></tr>
        <tr><th scope="row">84</th><td>AKELA TUBBY</td></tr>
        <tr><th scope="row">85</th><td>CHELSIE TUBBY</td></tr>
        <tr><th scope="row">86</th><td>ELAINE MINGO</td></tr>
        <tr><th scope="row">87</th><td>TWANA ISAAC</td></tr>
        <tr><th scope="row">88</th><td>DECEMMA HICKMAN</td></tr>
        <tr><th scope="row">89</th><td>SKY COTTON</td></tr>
        <tr><th scope="row">90</th><td>TARYN GIBSON</td></tr>
        <tr><th scope="row">91</th><td>LYERIC HICKMAN</td></tr>
        <tr><th scope="row">92</th><td>LAHOMA CONRAD</td></tr>
        <tr><th scope="row">93</th><td>KALA CLEMONS</td></tr>
        <tr><th scope="row">94</th><td>NICOLE HICKMAN</td></tr>
        <tr><th scope="row">95</th><td>DELIA GIBSON</td></tr>
    </tbody>
</table>
