<h5>BÓK ČITO OHÓYOS</h5>
<h6>COACHES: JACKIE MORRIS, BRACEY BELL, MICHAEL MORRIS, LESLEY MORRIS, ANSELM HENRY, PIERCESON FARVE, ELIJAH JIMMIE</h6>
<table class="table table-dark table-striped">
    <tbody>
        <tr><th scope="row">0</th><td>ONNAHILI WILLIAMS</td></tr>
        <tr><th scope="row">1</th><td>NATASHA BELL</td></tr>
        <tr><th scope="row">2</th><td>ANNA YORK</td></tr>
        <tr><th scope="row">3</th><td>KLAIRNELL BELL</td></tr>
        <tr><th scope="row">4</th><td>CARLEE JIMMIE</td></tr>
        <tr><th scope="row">5</th><td>TALISHA BELL</td></tr>
        <tr><th scope="row">6</th><td>CAITLYN NICKEY</td></tr>
        <tr><th scope="row">7</th><td>ASHRHONDA ROBINSON</td></tr>
        <tr><th scope="row">8</th><td>SHANISE STEVE</td></tr>
        <tr><th scope="row">9</th><td>ELISAH JIMMIE</td></tr>
        <tr><th scope="row">10</th><td>NASHIMA THOMPSON</td></tr>
        <tr><th scope="row">11</th><td>KALEY MCMILLAN</td></tr>
        <tr><th scope="row">12</th><td>FLORA BILLIE</td></tr>
        <tr><th scope="row">13</th><td>KARRIGAN YOUNG</td></tr>
        <tr><th scope="row">14</th><td>DAYSIANARA LEWIS</td></tr>
        <tr><th scope="row">15</th><td>MISSY BELL</td></tr>
        <tr><th scope="row">16</th><td>NIKKITA MINGO</td></tr>
        <tr><th scope="row">17</th><td>VICTORIA ISAAC</td></tr>
        <tr><th scope="row">18</th><td>MYLYNDIE BELL</td></tr>
        <tr><th scope="row">19</th><td>LEONA BELL</td></tr>
        <tr><th scope="row">20</th><td>ALISIA NENE</td></tr>
        <tr><th scope="row">21</th><td>SHAYLA CHICKAWAY</td></tr>
        <tr><th scope="row">22</th><td>GA'YU'EZE MORRIS</td></tr>
        <tr><th scope="row">23</th><td>DEANNA ROBINSON</td></tr>
        <tr><th scope="row">24</th><td>MAHLALEE WILLIS</td></tr>
        <tr><th scope="row">25</th><td>SHANITA MORRIS</td></tr>
        <tr><th scope="row">26</th><td>BRENDA BELL</td></tr>
        <tr><th scope="row">27</th><td>RAINA KING</td></tr>
        <tr><th scope="row">28</th><td>CANDACE JEFFERSON</td></tr>
        <tr><th scope="row">29</th><td>SHAUNICKA NICKEY</td></tr>
        <tr><th scope="row">30</th><td>DESTINI YORK</td></tr>
        <tr><th scope="row">31</th><td>VANESSA COTTON</td></tr>
        <tr><th scope="row">32</th><td>TARA DAWN WILLIS</td></tr>
        <tr><th scope="row">33</th><td>CHEYENNE BUFFALO-MEAT</td></tr>
        <tr><th scope="row">34</th><td>KERAH MINGO</td></tr>
        <tr><th scope="row">35</th><td>YOLANDA WILLIS</td></tr>
        <tr><th scope="row">36</th><td>LINDA STEVE</td></tr>
        <tr><th scope="row">37</th><td>KATELYN JOHN</td></tr>
        <tr><th scope="row">38</th><td>KEYLA MINGO</td></tr>
        <tr><th scope="row">39</th><td>KAYLA MINGO</td></tr>
        <tr><th scope="row">40</th><td>ANGELA HUNDLEY</td></tr>
        <tr><th scope="row">41</th><td>SHARECKA JEFFERSON</td></tr>
        <tr><th scope="row">42</th><td>MAHALI HENRY</td></tr>
        <tr><th scope="row">43</th><td>TAREN WALLACE</td></tr>
        <tr><th scope="row">44</th><td>SELENA JIM</td></tr>
        <tr><th scope="row">45</th><td>CHEYAN ROBINSON</td></tr>
        <tr><th scope="row">46</th><td>DAYANNA JACKSON</td></tr>
        <tr><th scope="row">47</th><td>JENNAYA STEVE</td></tr>
        <tr><th scope="row">48</th><td>LASHEENA WILLIAMSON</td></tr>
        <tr><th scope="row">50</th><td>MAEGAN THOMAS</td></tr>
        <tr><th scope="row">51</th><td>LAAYLA LEWIS</td></tr>
        <tr><th scope="row">52</th><td>ELYSE WILLIS</td></tr>
        <tr><th scope="row">53</th><td>TESHEENA BELL</td></tr>
        <tr><th scope="row">55</th><td>MAHALIA BEN</td></tr>
        <tr><th scope="row">56</th><td>LARISHA MORRIS</td></tr>
        <tr><th scope="row">57</th><td>CECILIA WILLIS</td></tr>
        <tr><th scope="row">58</th><td>KENDILL WILLIS</td></tr>
        <tr><th scope="row">60</th><td>PATRICIA HENRY</td></tr>
        <tr><th scope="row">65</th><td>MARCIA DAVIS</td></tr>
        <tr><th scope="row">66</th><td>MARISSA CROSBY</td></tr>
        <tr><th scope="row">67</th><td>BROOKLYN DIXON</td></tr>
        <tr><th scope="row">68</th><td>MELINDA WALLACE</td></tr>
        <tr><th scope="row">69</th><td>ODESSA MCURLEY</td></tr>
        <tr><th scope="row">70</th><td>KAITLYN BELL</td></tr>
        <tr><th scope="row">71</th><td>TAMELA SOLOMON</td></tr>
        <tr><th scope="row">72</th><td>VANEDA WALLACE</td></tr>
        <tr><th scope="row">73</th><td>TYRA SHACKLEFORD</td></tr>
        <tr><th scope="row">75</th><td>RAEGAN HICKMAN</td></tr>
        <tr><th scope="row">77</th><td>SHANNON MORRIS</td></tr>
        <tr><th scope="row">79</th><td>ANTONIE STEVE</td></tr>
        <tr><th scope="row">80</th><td>KRYSTAL ROBINSON</td></tr>
        <tr><th scope="row">82</th><td>SHUNTALIDIA LEWIS</td></tr>
        <tr><th scope="row">85</th><td>BRITTNEY WALLACE</td></tr>
        <tr><th scope="row">88</th><td>KASEY WILSON</td></tr>
        <tr><th scope="row">89</th><td>DEMETRIA MORRIS</td></tr>
        <tr><th scope="row">92</th><td>RAVEN MORRIS</td></tr>
        <tr><th scope="row">94</th><td>APRIL HENRY</td></tr>
        <tr><th scope="row">95</th><td>BREANNE MINGO</td></tr>
        <tr><th scope="row">96</th><td>WHITNEY BEN</td></tr>
        <tr><th scope="row">97</th><td>MIKEYLA BELL</td></tr>
        <tr><th scope="row">98</th><td>RENATA MORRIS</td></tr>
        <tr><th scope="row">99</th><td>KRISTAN JOHN</td></tr>
    </tbody>
</table>
