<h5>TIAK HIKÍYA OHÓYO</h5>
<h6>COACHES: BENJAMIN FARVE, WILLIS SOLOMON, JR.</h6>
<table class="table table-dark table-striped">
    <tbody>
        <tr><th scope="row">0</th><td>AUJARAYE SOCKEY</td></tr>
        <tr><th scope="row">1</th><td>LUCINDA VARGAS</td></tr>
        <tr><th scope="row">2</th><td>GABRIELLE WILSON</td></tr>
        <tr><th scope="row">3</th><td>SHAYLA JACKSON</td></tr>
        <tr><th scope="row">4</th><td>BREANNA BILLIE</td></tr>
        <tr><th scope="row">5</th><td>NINA FRAZIER</td></tr>
        <tr><th scope="row">6</th><td>BRITTANY GOMEZ</td></tr>
        <tr><th scope="row">7</th><td>ANGELIA MORALES</td></tr>
        <tr><th scope="row">8</th><td>LORIANNA AHSHAPANEK</td></tr>
        <tr><th scope="row">9</th><td>SHAYE SCOTT</td></tr>
        <tr><th scope="row">10</th><td>ALANA BILLY</td></tr>
        <tr><th scope="row">11</th><td>TANISHA IMHOF</td></tr>
        <tr><th scope="row">12</th><td>ERICA FARVE</td></tr>
        <tr><th scope="row">13</th><td>DEONA ISAAC</td></tr>
        <tr><th scope="row">14</th><td>TENISHIA COMBY</td></tr>
        <tr><th scope="row">15</th><td>JERI COTTON</td></tr>
        <tr><th scope="row">16</th><td>RENEE ISAAC</td></tr>
        <tr><th scope="row">17</th><td>MELINDA LEWIS</td></tr>
        <tr><th scope="row">18</th><td>ELIZABETH BILLY</td></tr>
        <tr><th scope="row">19</th><td>RENAYSIA POLK</td></tr>
        <tr><th scope="row">20</th><td>DIANA ALEX</td></tr>
        <tr><th scope="row">21</th><td>MICHELLE DENSON</td></tr>
        <tr><th scope="row">22</th><td>NATALIE ARMONTA</td></tr>
        <tr><th scope="row">23</th><td>ECHO BEN</td></tr>
        <tr><th scope="row">24</th><td>ARISSA WILLIS</td></tr>
        <tr><th scope="row">25</th><td>BRIANA WESLEY</td></tr>
        <tr><th scope="row">26</th><td>LASANDA BEN</td></tr>
        <tr><th scope="row">27</th><td>PATRISHA TAHAHWAH</td></tr>
        <tr><th scope="row">28</th><td>DESTINY WILSON</td></tr>
        <tr><th scope="row">29</th><td>JULIE DENSON</td></tr>
        <tr><th scope="row">30</th><td>BETTY MINGO</td></tr>
        <tr><th scope="row">31</th><td>KELLY DUMONT</td></tr>
        <tr><th scope="row">32</th><td>IRIS FARVE</td></tr>
        <tr><th scope="row">33</th><td>JAYASRI MITCH</td></tr>
        <tr><th scope="row">34</th><td>KATALINA MORRIS</td></tr>
        <tr><th scope="row">35</th><td>MERCHAYLEE BELL</td></tr>
        <tr><th scope="row">36</th><td>MELISSA MITCH</td></tr>
        <tr><th scope="row">37</th><td>TONYA ISAAC</td></tr>
        <tr><th scope="row">38</th><td>SAHMEYA KING</td></tr>
        <tr><th scope="row">39</th><td>CHANTAY FRAZIER</td></tr>
        <tr><th scope="row">40</th><td>SAHINNA ANDERSON</td></tr>
        <tr><th scope="row">41</th><td>VALARIE SUTTON</td></tr>
        <tr><th scope="row">42</th><td>ROCHELLE WALLACE</td></tr>
        <tr><th scope="row">43</th><td>TAMARA JOHN</td></tr>
        <tr><th scope="row">44</th><td>TYAHNAH WHEELER</td></tr>
        <tr><th scope="row">45</th><td>KELSEY TANGLE</td></tr>
        <tr><th scope="row">46</th><td>CHENICE BEN</td></tr>
        <tr><th scope="row">47</th><td>TAYLOR BEN</td></tr>
        <tr><th scope="row">48</th><td>SYDNI TANGLE</td></tr>
        <tr><th scope="row">51</th><td>TEHYA KING</td></tr>
        <tr><th scope="row">53</th><td>NATISHA ISAAC</td></tr>
        <tr><th scope="row">54</th><td>MELINA JOHN</td></tr>
        <tr><th scope="row">55</th><td>HANNAH PEOPLES</td></tr>
        <tr><th scope="row">56</th><td>LARISA WILLIS</td></tr>
        <tr><th scope="row">57</th><td>ASHLEY STEPHENS</td></tr>
        <tr><th scope="row">58</th><td>DIANA SOLOMON</td></tr>
        <tr><th scope="row">60</th><td>ALETHEA STEVE</td></tr>
        <tr><th scope="row">61</th><td>SARAH WILLIAMS</td></tr>
        <tr><th scope="row">62</th><td>KELLY WILLIS</td></tr>
        <tr><th scope="row">63</th><td>HAILEY WILLIS</td></tr>
        <tr><th scope="row">64</th><td>LEE FRAZIER</td></tr>
        <tr><th scope="row">65</th><td>TAELOR YORK</td></tr>
        <tr><th scope="row">66</th><td>MYA JIM</td></tr>
        <tr><th scope="row">67</th><td>LINDA PEOPLES</td></tr>
        <tr><th scope="row">68</th><td>JANEISA STEVE</td></tr>
        <tr><th scope="row">71</th><td>ROBERTA COMBY</td></tr>
        <tr><th scope="row">75</th><td>TITIANNA BAROJAS</td></tr>
        <tr><th scope="row">76</th><td>SEARRA WILSON</td></tr>
        <tr><th scope="row">79</th><td>ALEXIS KING TUBBY</td></tr>
        <tr><th scope="row">80</th><td>KATIE HENRY</td></tr>
        <tr><th scope="row">81</th><td>NATASHA JIMMIE</td></tr>
        <tr><th scope="row">82</th><td>JUANINA MINGO</td></tr>
        <tr><th scope="row">85</th><td>SULANE JIM</td></tr>
        <tr><th scope="row">87</th><td>DEIDRE TUBBY</td></tr>
        <tr><th scope="row">89</th><td>TASHIA WILLIAMSON</td></tr>
        <tr><th scope="row">90</th><td>ODESSA MARTIN</td></tr>
        <tr><th scope="row">91</th><td>RAKISHA ANDERSON</td></tr>
        <tr><th scope="row">92</th><td>JAZZLYN DIXON</td></tr>
        <tr><th scope="row">94</th><td>KRYSTAL MARTIN</td></tr>
        <tr><th scope="row">95</th><td>BRITTANY BELL</td></tr>
        <tr><th scope="row">96</th><td>DEAUNDRE WILLIAMS</td></tr>
        <tr><th scope="row">97</th><td>NIKKOLE ISAAC</td></tr>
        <tr><th scope="row">98</th><td>MARSHA BULL</td></tr>
        <tr><th scope="row">99</th><td>KRISTEN STEVE</td></tr>
    </tbody>
</table>
