<div class="col">
    <div class="card card-red-border card-platinum text-dark h-100">
      <img src="../assets/img/logos/{{ include.img }}.webp" class="card-img-top" alt="{{ include.title }}">
      <div class="card-body">
        <p class="card-title">{{ include.title }}</p>
        <p class="card-text">{{ include.desc }}</p>
        <!--{% if include.contact %}
        <p class="card-text">For more information, please call {{ include.contact }} at 
          <a href="tel:{{ include.phone | replace: '-', '' }}" class="text-nowrap">{{ include.phone }}</a></p>
        {% endif %}-->
      </div>
      <!--<div class="card-footer">
        {% if include.alert %}
          <div class="alert alert-danger" role="alert">
            {{ include.alert }}
          </div>
        {% endif %}
        <div class="d-grid gap-2 d-md-block">
          <a href="../assets/pdf/{{ include.firstLink }}.pdf" class="btn btn-light">{{ include.firstAction }}</a>
          {% if include.secondLink %}
            <a href="../assets/pdf/{{ include.secondLink }}.pdf" class="btn btn-danger">{{ include.secondAction }}</a>
          {% endif %}
        </div>
      </div>-->
    </div>
  </div>
