<!-- Card Group Links -->
<section class="camo-bg py-5 text-center">
    <div class="container">
      <h1>Competitions</h1>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        <div class="col">
          <a href="/events/">
            <div class="card card-bg1 opaque card-gold-border">
              <div class="card-img-overlay d-flex flex-column">
                <div class="mt-auto bg-dark pt-1">
                  <p class="card-title fw-bold">Rez Run</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="/stickball/">
            <div class="card card-bg2 opaque card-gold-border">
              <div class="card-img-overlay d-flex flex-column">
                <div class="mt-auto bg-dark pt-1">
                  <p class="card-title fw-bold">World Series of Stickball</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="/pageant/">
            <div class="card card-bg3 opaque card-gold-border">
              <div class="card-img-overlay d-flex flex-column">
                <div class="mt-auto bg-dark pt-1">
                  <p class="card-title fw-bold">Choctaw Indian Princess Pageant</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="/competitions/">
            <div class="card card-bg4 opaque card-gold-border">
              <div class="card-img-overlay d-flex flex-column">
                <div class="mt-auto bg-dark pt-1">
                  <p class="card-title fw-bold">Competitions</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  {% include compModal.html id="rezrun" title="Rez Run" %}

  <!-- Modal -->
<div class="modal fade" id="{{ include.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="{{ include.id }}Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="{{ include.id }}Label">{{ include.title }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Register</button>
        </div>
      </div>
    </div>
  </div>
