<section class="camo-bg py-5 text-center">
    <div class="container">
      <h1 class="shadow-text">Competitions</h1>
      <img src="../assets/img/competition-banner.png" class="img-fluid pb-5">

      <div class="card mb-3 card-red-border" style="background: linear-gradient(#333,#800000);">
        <div class="row g-0 p-2">
          <div class="col-md-4 d-flex flex-column justify-content-center">
            <img src="../assets/img/rezrun.png" class="img-fluid rounded-start" alt="Rez Run">
          </div>
          <div class="col-md-8 d-flex flex-column justify-content-center">
            <div class="card-body d-flex flex-column justify-content-center">
              <h2 class="card-title shadow-text">REZ RUN 2021</h2>
              <p class="card-text">The run is held in Choctaw, MS and trails through the reservation of the Mississippi Choctaw and the Choctaw Indian fairgrounds. The Mississippi Band of Choctaw Indians proudly welcomes all runners and visitors to the 71st Annual Choctaw Indian Fair.</p>
              <p class="card-text">For more information, please call: 601-650-1765</p>
              <div class="d-grid gap-2 d-md-block">
                <a href="../assets/pdf/2021 Rez Run.pdf" target="_blank">
                  <button class="btn btn-danger" type="button" style="background: linear-gradient(#cc3333,#ff9999);">Register for Rez Run</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 card-red-border" style="background: linear-gradient(#333,#800000);">
        <div class="row g-0 p-2">
          <div class="col-md-4 d-flex flex-column justify-content-center">
            <img src="../assets/img/ironwarrior.png" class="img-fluid rounded-start" alt="Iron Warrior">
          </div>
          <div class="col-md-8 d-flex flex-column justify-content-center">
            <div class="card-body d-flex flex-column justify-content-center">
              <h2 class="card-title shadow-text">Iron Warrior</h2>
              <p class="card-text">Iron Warrior consists of obstacles such as the steel log, yoke carry, tire flip, and truck pull. In the end of the competition, the winner will have to endure eight total obstacles in order to be called the 2020 IRON WARRIOR!</p>
              <div class="alert alert-danger" role="alert">
                Pre-register for $25 by June 30, 2020.<br/>Pre-registered competitors are guaranteed an official Iron Warrior t-shirt.
              </div>
              <p class="card-text">For more information, please contact the Choctaw Fire Department: Sam Farve @ 601-656-0620</p>
              <div class="d-grid gap-2 d-md-block">
                <button href="#" class="btn btn-light" type="button" style="background: linear-gradient(#aaa,#fff);">Download the flyer</button>
                <button href="#" class="btn btn-secondary" type="button" style="background: linear-gradient(#cc3333,#ff9999);">Register for Iron Warrior</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 card-red-border" style="background: linear-gradient(#333,#800000);">
        <div class="row g-0 p-2">
          <div class="col-md-4 d-flex flex-column justify-content-center">
            <img src="../assets/img/ironwarrior.png" class="img-fluid rounded-start" alt="Iron Warrior">
          </div>
          <div class="col-md-8 d-flex flex-column justify-content-center">
            <div class="card-body d-flex flex-column justify-content-center">
              <h2 class="card-title shadow-text">Little Mr. & Miss.<br>Choctaw Indian Fair<br>Pageant</h2>
              <p class="card-text">Iron Warrior consists of obstacles such as the steel log, yoke carry, tire flip, and truck pull. In the end of the competition, the winner will have to endure eight total obstacles in order to be called the 2020 IRON WARRIOR!</p>
              <div class="alert alert-danger" role="alert">
                Pre-register for $25 by June 30, 2020.<br/>Pre-registered competitors are guaranteed an official Iron Warrior t-shirt.
              </div>
              <p class="card-text">For more information, please contact the Choctaw Fire Department: Sam Farve @ 601-656-0620</p>
              <div class="d-grid gap-2 d-md-block">
                <button href="#" class="btn btn-light" type="button" style="background: linear-gradient(#aaa,#fff);">Download the flyer</button>
                <button href="#" class="btn btn-secondary" type="button" style="background: linear-gradient(#cc3333,#ff9999);">Register for Iron Warrior</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h2 class="shadow-text pt-5">Watermelon Eating Competition</h2>
    </div>
  </section>
