<section class="camo-bg py-5 text-center">
    <div class="container">
      <h1 class="shadow-text">Competitions</h1>
      <img src="../assets/img/competition-banner.png" class="img-fluid">

      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/img/rezrun.png" class="img-fluid rounded-start" alt="Rez Run">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/img/ironwarrior.png" class="img-fluid rounded-start" alt="Iron Warrior">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>

      <h2 class="shadow-text pt-5">Little Mr. & Mrs. Choctaw Indian Fair</h2>

      <h2 class="shadow-text pt-5">Watermelon Eating Competition</h2>
    </div>
  </section>
