      <div class="col">
        <div class="card mb-3 card-rose-border" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-5" style="background: transparent;">
              <img src="/assets/img/{{ include.img }}.jpg" class="img-fluid" alt="{{ include.name }}">
            </div>
            <div class="col-7 d-flex align-items-center" style="background: linear-gradient(#969,#ffd,#fcc);">
              <div class="card-body">
                <p class="card-title h4 shadow-text">Contestant #{{ include.num }}</p>
                <p class="card-text h5 shadow-text" style="font-size:1.5rem;">{{ include.name }}</p>
                <p class="card-text"><small class="text-muted">Sponsored by<br>{{ include.sponsor }}</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
