<section class="diamond-bg4">
    <div class="container">
      <h1 class="shadow-text lh-1">Cultural Activites</h1>
      <img src="../assets/img/culture-banner.png" class="img-fluid pb-5">

      <div class="card mb-3 card-blue-border" style="background: linear-gradient(#333,#069,#bff);">
        <div class="card-body text-center">
          <img src="../assets/img/logos/ayipa-village2.png" alt="Áyipa Village" class="img-fluid">
          <div class="row row-colrs-1 row-cols-sm-2 g-4">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Stickball Demonstration</h5>
                  <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis quia, ea rem quam fugiat ipsam quas adipisci, architecto, nemo pariatur tempora reiciendis minima. Molestiae a, eos dolor earum suscipit nisi!</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Cultural Video Features</h5>
                  <p class="card-text">The Mississippi Choctaws of today carry on the traditions left to them by their ancestors. Enjoy our series of videos highlighting cultural topics and learn more about the cultural life ways of the Mississippi Band of Choctaw Indians.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 card-blue-border" style="background: linear-gradient(#333,#069,#bff);">
        <div class="row g-0 p-2">
          <div class="d-flex flex-column justify-content-center">
            <div class="card-body d-flex flex-column justify-content-center">
              <img src="../assets/img/logos/ayipa-village2.png" alt="Áyipa Village" class="img-fluid">
              <p class="card-text">The run is held in Choctaw, MS and trails through the reservation of the Mississippi Choctaw and the Choctaw Indian fairgrounds. The Mississippi Band of Choctaw Indians proudly welcomes all runners and visitors to the 71st Annual Choctaw Indian Fair.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 card-blue-border" style="background: linear-gradient(#333,#069,#bff);">
        <div class="row g-0 p-2">
          <div class="d-flex flex-column justify-content-center">
            <div class="card-body d-flex flex-column justify-content-center">
              <h2 class="card-title shadow-text">Iron Warrior</h2>
              <p class="card-text">Iron Warrior consists of obstacles such as the steel log, yoke carry, tire flip, and truck pull. In the end of the competition, the winner will have to endure eight total obstacles in order to be called the 2020 IRON WARRIOR!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 card-blue-border" style="background: linear-gradient(#333,#069,#bff);">
        <div class="row g-0 p-2">
          <div class="d-flex flex-column justify-content-center">
            <div class="card-body d-flex flex-column justify-content-center">
              <h2 class="card-title shadow-text">Little Mr. & Miss.<br>Choctaw Indian Fair<br>Pageant</h2>
              <p class="card-text">Iron Warrior consists of obstacles such as the steel log, yoke carry, tire flip, and truck pull. In the end of the competition, the winner will have to endure eight total obstacles in order to be called the 2020 IRON WARRIOR!</p>
            </div>
          </div>
        </div>
      </div>

      <h2 class="shadow-text pt-5">Watermelon Eating Competition</h2>
    </div>
  </section>
