<section class="diamond-bg4">
  <div class="container">
    <h1 class="shadow-text lh-1">Cultural Activities</h1>
    <img src="../assets/img/culture-banner.png" class="img-fluid pb-5">

    <div class="card mb-3 card-blue-border" style="background: linear-gradient(#333,#069,#bff);">
      <div class="card-body text-center">
        <img src="../assets/img/logos/ayipa-village2.png" alt="Áyipa Village" class="img-fluid">
        <div class="row row-cols-1 row-cols-md-2 g-4">

          <div class="col">
            <div class="card card-gold-border h-100" style="background:linear-gradient(#da4,#dff,#fea);">
              <div class="card-body text-dark">
                <h5 class="card-title">Stickball Demonstration</h5>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis quia, ea rem quam fugiat ipsam quas adipisci, architecto, nemo pariatur tempora reiciendis minima. Molestiae a, eos dolor earum suscipit nisi!</p>
              </div>
            </div>
          </div> <!--col-->
          
          <div class="col">
            <div class="card card-gold-border h-100" style="background:linear-gradient(#da4,#dff,#fea);">
              <div class="card-body text-dark">
                <h5 class="card-title">Frybread Demonstration</h5>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae voluptas officia, aliquam excepturi illo veniam. Voluptate saepe fugiat dolores porro incidunt, officiis, maxime eum in eveniet, id laudantium ad dicta.</p>
              </div>
            </div>
          </div> <!--col-->
          
          <div class="col">
            <div class="card card-gold-border h-100" style="background:linear-gradient(#da4,#dff,#fea);">
              <div class="card-body text-dark">
                <h5 class="card-title">Cultural Video Features</h5>
                <p class="card-text">The Mississippi Choctaws of today carry on the traditions left to them by their ancestors. Enjoy our series of videos highlighting cultural topics and learn more about the cultural life ways of the Mississippi Band of Choctaw Indians.</p>
              </div>
            </div>
          </div> <!--col-->

          <div class="col">
            <div class="card card-gold-border h-100" style="background:linear-gradient(#da4,#dff,#fea);">
              <div class="card-body text-dark">
                <h5 class="card-title">Passport</h5>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae dicta dolorum quod provident voluptatem explicabo veritatis dignissimos odit fugiat omnis qui autem, inventore unde laboriosam. Doloremque obcaecati consectetur laborum ut.</p>
              </div>
            </div>
          </div> <!--col-->

        </div> <!--row-->
      </div> <!--card-body-->
    </div> <!--card-->

    <div class="card mb-3 card-blue-border" style="background: linear-gradient(#333,#069,#bff);">
      <div class="card-body text-center">
        <img src="../assets/img/logos/shawi.png" alt="Shawi's Discovery Zone" class="img-fluid mb-4">
        <div class="row row-cols-1 row-cols-md-2 g-4">

          <div class="col">
            <div class="card card-gold-border h-100" style="background:linear-gradient(#da4,#dff,#fea);">
              <div class="card-body text-dark">
                <h5 class="card-title">Stickball Demonstration</h5>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis quia, ea rem quam fugiat ipsam quas adipisci, architecto, nemo pariatur tempora reiciendis minima. Molestiae a, eos dolor earum suscipit nisi!</p>
              </div>
            </div>
          </div> <!--col-->

        </div> <!--row-->
      </div> <!--card-body-->
    </div> <!--card-->

  </div> <!--container-->
</section>
