<section class="diamond-bg4">
  <div class="container">
    <h1 class="shadow-text lh-1">Cultural Activities</h1>
    <img src="../assets/img/culture-banner.webp" class="img-fluid pb-5">

    <div class="card mb-3 card-blue-border" style="background: linear-gradient(#333,#069,#bff);">
      <img src="../assets/img/svg/ayipa.svg" class="card-img-top" alt="Áyipa Village">
      <div class="card-body text-center">
        <div class="row row-cols-1 row-cols-md-2 g-3">

          <div class="col">
            <div class="card card-gold-border h-100" style="background:linear-gradient(#da4,#dff,#fea);">
              <img src="../assets/img/svg/stickball-demo.svg" class="card-img-top" alt="Stickball Demonstration">
              <div class="card-body text-dark">
                <h5 class="card-title">Stickball Demonstration</h5>
                <p class="card-text">Members of the Stickball Field Crew will be demonstrating aspects of Choctaw Stickball, explaining the history and rules, how to handle the sticks during a game, and more. A "Stickball Shootout" will be held for visitors to participate in after the demonstration.</p>
              </div>
            </div>
          </div> <!--col-->
          
          <div class="col">
            <div class="card card-gold-border h-100" style="background:linear-gradient(#da4,#dff,#fea);">
              <img src="../assets/img/svg/frybread.svg" class="card-img-top" alt="Frybread Demonstration">
              <div class="card-body text-dark">
                <h5 class="card-title">Frybread Demonstration</h5>
                <p class="card-text">Local fry bread cooks will offer a step-by-step process of making fry bread. After the demonstration, those in attendance will have the opportunity to taste a delicious fry bread portion.</p>
              </div>
            </div>
          </div> <!--col-->
          
          <div class="col">
            <div class="card card-gold-border h-100" style="background:linear-gradient(#da4,#dff,#fea);">
              <img src="../assets/img/cultural-video.webp" class="card-img-top" alt="Cultural Video Features">
              <div class="card-body text-dark">
                <h5 class="card-title">Cultural Video Features</h5>
                <p class="card-text">The Mississippi Choctaws of today carry on the traditions left to them by their ancestors. Enjoy our series of videos highlighting cultural topics and learn more about the cultural life ways of the Mississippi Band of Choctaw Indians.</p>
              </div>
            </div>
          </div> <!--col-->

          <div class="col">
            <div class="card card-gold-border h-100" style="background:linear-gradient(#da4,#dff,#fea);">
              <img src="../assets/img/svg/passport.svg" class="card-img-top" alt="Passport">
              <div class="card-body text-dark">
                <h5 class="card-title">CIF Passport</h5>
                <p class="card-text">The CIF Passport is a small keepsake post card for visitors to carry and have stamped at various locations throughout the fairgrounds. Participants will receive a "Fair Map" showing stamp locations, ensuring that everyone is able to engage in all Choctaw Indian Fair activities.</p>
              </div>
            </div>
          </div> <!--col-->

        </div> <!--row-->
      </div> <!--card-body-->
    </div> <!--ayipa card-->

    <div class="card mb-3 card-blue-border" style="background: linear-gradient(#333,#069,#bff);">
      <img src="../assets/img/svg/shawi.svg" class="card-img-top" alt="Shawi's Discovery Zone">
      <div class="card-body text-center">
        <div class="row row-cols-1 row-cols-md-2 g-3">

          <div class="col">
            <div class="card card-gold-border h-100" style="background:linear-gradient(#da4,#dff,#fea);">
              <div class="card-body text-dark">
                <h5 class="card-title">YAMMA ÁCHI ÁWASHÓHA</h5>
                <h6 class="card-title">Language learning bingo game</h6>
                <p class="card-text">Yamma Áchi Áwashóha is a twist on the classic Bingo game. YAMMA 4x4 game cards will feature bright Choctaw cultural pictures based on the daily theme. A Choctaw speaker will call out clues in the Choctaw language that match the pictures. Players will hear the Choctaw clues and mark their cards</p>
              </div>
            </div>
          </div> <!--col-->

          <div class="col">
            <div class="card card-gold-border h-100" style="background:linear-gradient(#da4,#dff,#fea);">
              <div class="card-body text-dark">
                <h5 class="card-title">OTHER FREE ACTIVITES</h5>
                <p class="card-text">Other Shawi's Discovery Zone activities include: <strong>Bungee Trampoline, Bounce Houses, Rock Wall, Rock-It the Robot, and the CIF Kids Train</strong>.</p>
              </div>
            </div>
          </div> <!--col-->

        </div> <!--row-->
      </div> <!--card-body-->
    </div> <!--shawi card-->

    <div class="card mb-3 card-blue-border" style="background: linear-gradient(#333,#069,#bff);">
      <img src="../assets/img/svg/arts.svg" class="card-img-top" alt="Arts & Crafts">
      <div class="card-body text-center">
        <div class="row row-cols-1 row-cols-md-2 g-3">

          <div class="col">
            <div class="card card-gold-border h-100" style="background:linear-gradient(#da4,#dff,#fea);">
              <img src="../assets/img/basket.webp" class="card-img-top" alt="Basketry">
              <div class="card-body text-dark">
                <h5 class="card-title">Basketry</h5>
                <p class="card-text">Yamma Áchi Áwashóha is a twist on the classic Bingo game. YAMMA 4x4 game cards will feature bright Choctaw cultural pictures based on the daily theme. A Choctaw speaker will call out clues in the Choctaw language that match the pictures. Players will hear the Choctaw clues and mark their cards</p>
              </div>
            </div>
          </div> <!--col-->

          <div class="col">
            <div class="card card-gold-border h-100" style="background:linear-gradient(#da4,#dff,#fea);">
              <img src="../assets/img/beadwork.webp" class="card-img-top" alt="Beadwork">
              <div class="card-body text-dark">
                <h5 class="card-title">Beadwork</h5>
                <p class="card-text">Other Shawi's Discovery Zone activities include: <strong>Bungee Trampoline, Bounce Houses, Rock Wall, Rock-It the Robot, and the CIF Kids Train</strong>.</p>
              </div>
            </div>
          </div> <!--col-->

          <div class="col">
            <div class="card card-gold-border h-100" style="background:linear-gradient(#da4,#dff,#fea);">
              <img src="../assets/img/clothing.webp" class="card-img-top" alt="Clothing">
              <div class="card-body text-dark">
                <h5 class="card-title">Clothing</h5>
                <p class="card-text">Yamma Áchi Áwashóha is a twist on the classic Bingo game. YAMMA 4x4 game cards will feature bright Choctaw cultural pictures based on the daily theme. A Choctaw speaker will call out clues in the Choctaw language that match the pictures. Players will hear the Choctaw clues and mark their cards</p>
              </div>
            </div>
          </div> <!--col-->

          <div class="col">
            <div class="card card-gold-border h-100" style="background:linear-gradient(#da4,#dff,#fea);">
              <div class="card-body text-dark">
                <h5 class="card-title">Pottery</h5>
                <p class="card-text">Other Shawi's Discovery Zone activities include: <strong>Bungee Trampoline, Bounce Houses, Rock Wall, Rock-It the Robot, and the CIF Kids Train</strong>.</p>
              </div>
            </div>
          </div> <!--col-->

        </div> <!--row-->
      </div> <!--card-body-->
    </div> <!--arts card-->

    <div class="card mb-3 card-blue-border" style="background: linear-gradient(#333,#069,#bff);">
      <img src="../assets/img/svg/food.svg" class="card-img-top" alt="Traditional Food">
      <div class="card-body text-center">
        <div class="row row-cols-1 row-cols-md-2 g-3">

          <div class="col">
            <div class="card card-gold-border h-100" style="background:linear-gradient(#da4,#dff,#fea);">
              <div class="card-body text-dark">
                <h5 class="card-title">HOMINY</h5>
                <p class="card-text">Yamma Áchi Áwashóha is a twist on the classic Bingo game. YAMMA 4x4 game cards will feature bright Choctaw cultural pictures based on the daily theme. A Choctaw speaker will call out clues in the Choctaw language that match the pictures. Players will hear the Choctaw clues and mark their cards</p>
              </div>
            </div>
          </div> <!--col-->

          <div class="col">
            <div class="card card-gold-border h-100" style="background:linear-gradient(#da4,#dff,#fea);">
              <div class="card-body text-dark">
                <h5 class="card-title">BANAHA</h5>
                <p class="card-text">Other Shawi's Discovery Zone activities include: <strong>Bungee Trampoline, Bounce Houses, Rock Wall, Rock-It the Robot, and the CIF Kids Train</strong>.</p>
              </div>
            </div>
          </div> <!--col-->

        </div> <!--row-->
      </div> <!--card-body-->
    </div> <!--traditional food card-->

  </div> <!--container-->
</section>
