<div class="carousel-item {{ include.class }}">
  <div class="col-md-3">
    <div class="card bg-dark text-white">
      <img src="/assets/img/{{ include.file }}.jpg" alt="{{ include.alt }}" class="img-fluid" style="filter: brightness(50%)">
      <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with support text below as a natural lead.</p>
      </div>
    </div>
  </div>
</div>