  <section class="diamond-bg3 text-light py-5 text-center">
    <div class="container px-0">
      <h1 class="pb-2">Events</h1>
      <h2 class="pb-2">Wednesday, July 07, 20201</h2>
      <div class="row mx-auto my-auto justify-content-center px-0">
        <div id="recipeCarousel" class="carousel slide"
          data-bs-ride="carousel">
          <div class="carousel-inner" role="listbox">
            {% include event-card.html url="https://www.pearlriverresort.com" file="/assets/sponsors/pearlriver2.png" alt="Pearl River Resort" %}
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="http://www.engservice.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-platinum">
                      <img src="/assets/sponsors/engineeringservice.png" class="img-fluid" alt="Engineering Service">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="http://pryormorrow.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-platinum">
                      <img src="/assets/sponsors/pryormorrow.png" class="img-fluid" alt="Pryor Morrow">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://southernresearchgroup.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-platinum">
                      <img src="/assets/sponsors/srg.png" class="img-fluid" alt="SRG">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.unum.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-platinum">
                      <img src="/assets/sponsors/sis.png" class="img-fluid" alt="Walt Schrimpf (SIS-UNUM)">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.bancorpsouth.com/insurance" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-gold">
                      <img src="/assets/sponsors/bxs.png" class="img-fluid" alt="BXS">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://yates.doitbest.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-gold">
                      <img src="/assets/sponsors/yates.png" class="img-fluid" alt="Yates">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.chahtaholdingroup.com/ikbi" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-gold">
                      <img src="/assets/sponsors/ikbi.png" class="img-fluid" alt="IKBI">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.ajg.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-gold">
                      <img src="/assets/sponsors/gallagher.png" class="img-fluid" alt="AJ Gallagher">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="http://edwards-electric.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-silver">
                      <img src="/assets/sponsors/edwards.png" class="img-fluid" alt="Edwards Electric">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.mclaininc.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-silver">
                      <img src="/assets/sponsors/mclain.png" class="img-fluid" alt="McLain Plumbing">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.sunburstresults.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-silver">
                      <img src="/assets/sponsors/sunburst.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.kirkauto.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-silver">
                      <img src="/assets/sponsors/kirk.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.benchmarkms.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-silver">
                      <img src="/assets/sponsors/benchmark.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://fintrustadvisors.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-silver">
                      <img src="/assets/sponsors/fintrust.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="http://www.glassworxllp.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-silver">
                      <img src="/assets/sponsors/glassworx.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.keyimpactstrategies.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-silver">
                      <img src="/assets/sponsors/keyimpact.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="#" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-silver">
                      <img src="/assets/sponsors/morton.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://partridgepropane.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-silver">
                      <img src="/assets/sponsors/partridge.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="http://www.pileum.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-silver">
                      <img src="/assets/sponsors/pileum.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.thecitizensbankphila.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-silver">
                      <img src="/assets/sponsors/citizens.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.trustmark.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-silver">
                      <img src="/assets/sponsors/trustmark.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="#" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/bclean.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="http://www.becomminc.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/bne.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="#" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/holisso.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://imperialdade.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/imperial.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="http://www.interpestinc.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/interpest.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.memphispool.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/memphispool.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://merchantsfoodservice.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/merchants.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.normanroofing.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/normanroofing.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.trane.com/index.html" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/trane.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.facebook.com/AandBMechanical/" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/abmechanical.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.andersonregional.org" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/anderson.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.bcbsms.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/bluecross.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.cricpa.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/cri.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.facebook.com/Matt-Boatner-Construction" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/mbc.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.neshobageneral.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/neshobageneral.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://wisecarter.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/wisecarter.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </section>