<div class="carousel-item carousel-event-item {{ include.class }}">
  <div class="col-md-3">
    <div class="card bg-dark text-white">
      <img src="/assets/img/{{ include.file }}.jpg" alt="{{ include.alt }}" class="img-fluid rounded-3" style="filter: brightness(50%)">
      <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
        <h6 class="card-text">{{ include.div}}</h6>
        <h5 class="card-title event-title">{{ include.title }}</h5>
        <p class="card-text">{{ include.time }}<br/>{{ include.loc }}</p>
      </div>
    </div>
  </div>
</div>