<div class="col">
  <div class="card h-100">
    <div class="card-header card-black-border pt-3" style="background:linear-gradient(#333,#800000);">
      <p class="h4">{{ include.time }}</p>
    </div>
    <div class="card-body text-dark h-100 d-flex flex-column justify-content-center" style="background:linear-gradient(rgba(50,50,50,1), rgba(255,255,255,1));">
      <p class="h4">{{ include.div }}</p>
      <p class="h4">{{ include.title }}</p>
    </div>
    <div class="card-footer card-black-border pt-3" style="background:linear-gradient(#333,#800000);">
      <p class="h5">{{ include.loc }}</p>
    </div>
  </div>
</div>
