  <section class="diamond-bg3 mt-4 text-light py-5 text-center">
    <div class="container px-0">
      <h1 class="pb-2">Events</h1>
      <h2 class="pb-2">Wednesday, July 07, 20201</h2>
      <div class="row mx-auto my-auto justify-content-center px-0">
        <div id="recipeCarousel" class="carousel slide"
          data-bs-ride="carousel">
          <div class="carousel-inner" role="listbox">
            {% include event-card.html
              url="https://www.pearlriverresort.com"
              img="assets/img/stickball2.jpg"
              alt="Fallen Tushka Ceremony"
              time="6:00 PM"
              loc="Warrior Stadium"
            %}

            {% include event-card.html
              url="https://www.pearlriverresort.com"
              img="assets/img/stickball2.png"
              alt="Fallen Tushka Ceremony"
              time="6:00 PM"
              loc="Warrior Stadium"
            %}

            {% include event-card.html
              url="https://www.pearlriverresort.com"
              img="assets/img/stickball2.png"
              alt="Fallen Tushka Ceremony"
              time="6:00 PM"
              loc="Warrior Stadium"
            %}

            {% include event-card.html
              url="https://www.pearlriverresort.com"
              img="assets/img/stickball2.png"
              alt="Fallen Tushka Ceremony"
              time="6:00 PM"
              loc="Warrior Stadium"
            %}
            
          </div>
          <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </section>