<div class="col">
    <div class="card h-100">
      <div class="card-header card-red-border pt-3" style="background:linear-gradient(#333,#800000);">
        <p class="h4">{{ include.time }}</p>
      </div>
      <div class="card-body text-dark h-100 d-flex flex-column justify-content-center" style="background:linear-gradient(#cc3333,#ff9999);">
        <p class="h5">{{ include.div }}</p>
        <p class="h4">{{ include.title }}</p>
      </div>
      <div class="card-footer card-red-border pt-3" style="background:linear-gradient(#333,#800000);">
        <p class="h5"><i class="bi bi-geo-alt-fill align-middle"></i> {{ include.loc }}</p>
      </div>
    </div>
  </div>
  