<div class="col">
  <div class="card h-100">
    <div class="card-header card-gold-border pt-3" style="background:linear-gradient(#550000,#800000);">
      <p class="h4">{{ include.time }}</p>
    </div>
    <div class="card-body text-dark" style="background:linear-gradient(#d0a641,#f4e5a1);">
      <p class="h4 d-flex justify-content-center">{{ include.title }}</p>
    </div>
    <div class="card-footer card-gold-border pt-3" style="background:linear-gradient(#550000,#800000);">
      <p class="h5">{{ include.loc }}</p>
    </div>
  </div>
</div>
