<div class="col">
  <div class="card h-100">
    <div class="card-header card-blue-border pt-3" style="background: linear-gradient(#333, #800000)">
      <p class="h4">{{ include.time }}</p>
    </div>
    <div class="card-body h-100 d-flex flex-column justify-content-center" style="background: linear-gradient(#069, #ffd, #bff)">
      <a href="../culture/" class="text-dark" style="text-decoration: none">
        <p class="h5">Culture</p>
        <p class="h4">{{ include.title }}</p>
      </a>
    </div>
    <a href="../info/" class="text-white" style="text-decoration: none">
      <div class="card-footer card-blue-border pt-3" style="background: linear-gradient(#333, #800000)">
        <p class="h5"><i class="bi bi-geo-alt-fill"></i> {{ include.loc }}</p>
      </div>
    </a>
  </div>
</div>
