<div class="col">
  <div class="card h-100">
    <div class="card-header card-black-border pt-3" style="background:linear-gradient(#333,#800000);">
      <p class="h4">{{ include.time }}</p>
    </div>
    <div class="card-body text-dark h-100 d-flex flex-column justify-content-center" style="background:linear-gradient(#779,#fff,#dfd);">
      <p class="h5">World Series of Stickball</p>
      <p class="h4">{{ include.title }}</p>
    </div>
    <a href="../info/" class="text-white" style="text-decoration: none;">
      <div class="card-footer card-black-border pt-3" style="background:linear-gradient(#333,#800000);">
          <p class="h5"><i class="bi bi-geo-alt-fill"></i> Warrior Stadium</p>
      </div>
    </a>
  </div>
</div>
