<section class="diamond-bg2 text-light py-5 px-2 text-center">
  <div>
    <h1 class="py-2">Events</h1>

    <h2 class="pt-3 pb-1 text-start">Wednesday, July 07, 2021</h2>
    <div class="row mx-auto my-auto justify-content-center px-0">
      <div id="dayOneCarousel" class="carousel carousel-sponsor slide" data-bs-interval="false">
        <div class="carousel-inner">
          {% include event-card.html file="stickball2" alt="Stickball" class="active" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#dayOneCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#dayOneCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <h2 class="pt-3 pb-1 text-start">Thursday, July 08, 2021</h2>
    <div class="row mx-auto my-auto justify-content-center px-0">
      <div id="dayTwoCarousel" class="carousel carousel-sponsor slide" data-bs-interval="false">
        <div class="carousel-inner">
          {% include event-card.html file="stickball2" alt="Stickball" class="active" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#dayTwoCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#dayTwoCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <h2 class="pt-3 pb-1 text-start">Friday, July 09, 2021</h2>
    <div class="row mx-auto my-auto justify-content-center px-0">
      <div id="dayThreeCarousel" class="carousel carousel-sponsor slide" data-bs-interval="false">
        <div class="carousel-inner">
          {% include event-card.html file="stickball2" alt="Stickball" class="active" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#dayThreeCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#dayThreeCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <h2 class="pt-3 pb-1 text-start">Saturday, July 10, 2021</h2>
    <div class="row mx-auto my-auto justify-content-center px-0">
      <div id="dayFourCarousel" class="carousel carousel-sponsor slide" data-bs-interval="false">
        <div class="carousel-inner">
          {% include event-card.html file="stickball2" alt="Stickball" class="active" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#dayFourCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#dayFourCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <h2 class="pt-3 pb-1 text-start">Monday, July 12, 2021</h2>
    <div class="row mx-auto my-auto justify-content-center px-0">
      <div id="dayFiveCarousel" class="carousel carousel-sponsor slide" data-bs-interval="false">
        <div class="carousel-inner">
          {% include event-card.html file="stickball2" alt="Stickball" class="active" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#dayFiveCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#dayFiveCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <h2 class="pt-3 pb-1 text-start">Tuesday, July 13, 2021</h2>
    <div class="row mx-auto my-auto justify-content-center px-0">
      <div id="daySixCarousel" class="carousel carousel-sponsor slide" data-bs-interval="false">
        <div class="carousel-inner">
          {% include event-card.html file="stickball2" alt="Stickball" class="active" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#daySixCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#daySixCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <h2 class="pt-3 pb-1 text-start">Wednesday, July 14, 2021</h2>
    <div class="row mx-auto my-auto justify-content-center px-0">
      <div id="daySevenCarousel" class="carousel carousel-sponsor slide" data-bs-interval="false">
        <div class="carousel-inner">
          {% include event-card.html file="stickball2" alt="Stickball" class="active" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#daySevenCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#daySevenCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <h2 class="pt-3 pb-1 text-start">Thursday, July 15, 2021</h2>
    <div class="row mx-auto my-auto justify-content-center px-0">
      <div id="dayEightCarousel" class="carousel carousel-sponsor slide" data-bs-interval="false">
        <div class="carousel-inner">
          {% include event-card.html file="stickball2" alt="Stickball" class="active" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#dayEightCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#dayEightCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <h2 class="pt-3 pb-1 text-start">Friday, July 16, 2021</h2>
    <div class="row mx-auto my-auto justify-content-center px-0">
      <div id="dayNineCarousel" class="carousel carousel-sponsor slide" data-bs-interval="false">
        <div class="carousel-inner">
          {% include event-card.html file="stickball2" alt="Stickball" class="active" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#dayNineCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#dayNineCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <h2 class="pt-3 pb-1 text-start">Saturday, July 17, 2021</h2>
    <div class="row mx-auto my-auto justify-content-center px-0">
      <div id="dayTenCarousel" class="carousel carousel-sponsor slide" data-bs-interval="false">
        <div class="carousel-inner">
          {% include event-card.html file="stickball2" alt="Stickball" class="active" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
          {% include event-card.html file="stickball2" alt="Stickball" %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#dayTenCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#dayTenCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

  </div>
</section>