---
---
<section class="diamond-bg3 text-light py-5 text-center">
    <div class="container px-0">
      <h1 class="pb-2">Thank You To Our Sponsors</h1>
      <div class="row mx-auto my-auto justify-content-center px-0">
        <div id="recipeCarousel" class="carousel slide"
          data-bs-ride="carousel">
          <div class="carousel-inner" role="listbox">
            {% include sponsor-plat.html url="https://www.pearlriverresort.com" file="/assets/sponsors/pearlriver2.png" alt="Pearl River Resort" class="active"%}
            {% include sponsor-plat.html url="http://www.engservice.com" file="/assets/sponsors/engineeringservice.png" alt="Engineering Service" %}
            {% include sponsor-plat.html url="http://pryormorrow.com" file="/assets/sponsors/pryormorrow.png" alt="Pryor Morrow" %}
            {% include sponsor-plat.html url="https://southernresearchgroup.com" file="/assets/sponsors/srg.png" alt="SRG" %}
            {% include sponsor-plat.html url="https://www.unum.com" file="/assets/sponsors/sis.png" alt="Walt Schrimpf (SIS-UNUM" %}
            {% include sponsor-gold.html url="https://www.bancorpsouth.com/insurance" file="/assets/sponsors/bxs.png" alt="BXS" %}
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://yates.doitbest.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-gold">
                      <img src="/assets/sponsors/yates.png" class="img-fluid" alt="Yates">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.chahtaholdingroup.com/ikbi" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-gold">
                      <img src="/assets/sponsors/ikbi.png" class="img-fluid" alt="IKBI">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.ajg.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-gold">
                      <img src="/assets/sponsors/gallagher.png" class="img-fluid" alt="AJ Gallagher">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="http://edwards-electric.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-silver">
                      <img src="/assets/sponsors/edwards.png" class="img-fluid" alt="Edwards Electric">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.mclaininc.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-silver">
                      <img src="/assets/sponsors/mclain.png" class="img-fluid" alt="McLain Plumbing">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.sunburstresults.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-silver">
                      <img src="/assets/sponsors/sunburst.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.kirkauto.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-silver">
                      <img src="/assets/sponsors/kirk.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.benchmarkms.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-silver">
                      <img src="/assets/sponsors/benchmark.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://fintrustadvisors.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-silver">
                      <img src="/assets/sponsors/fintrust.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="http://www.glassworxllp.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-silver">
                      <img src="/assets/sponsors/glassworx.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.keyimpactstrategies.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-silver">
                      <img src="/assets/sponsors/keyimpact.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="#" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-silver">
                      <img src="/assets/sponsors/morton.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://partridgepropane.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-silver">
                      <img src="/assets/sponsors/partridge.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="http://www.pileum.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-silver">
                      <img src="/assets/sponsors/pileum.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.thecitizensbankphila.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-silver">
                      <img src="/assets/sponsors/citizens.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.trustmark.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-silver">
                      <img src="/assets/sponsors/trustmark.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="#" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/bclean.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="http://www.becomminc.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/bne.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="#" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/holisso.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://imperialdade.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/imperial.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="http://www.interpestinc.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/interpest.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.memphispool.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/memphispool.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://merchantsfoodservice.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/merchants.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.normanroofing.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/normanroofing.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.trane.com/index.html" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/trane.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.facebook.com/AandBMechanical/" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/abmechanical.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.andersonregional.org" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/anderson.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.bcbsms.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/bluecross.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.cricpa.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/cri.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.facebook.com/Matt-Boatner-Construction" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/mbc.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://www.neshobageneral.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/neshobageneral.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <div class="col-md-3">
                <a href="https://wisecarter.com" target="_blank">
                  <div class="card card-gold-border opaque">
                    <div class="card-img card-bronze">
                      <img src="/assets/sponsors/wisecarter.png" class="img-fluid">
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </section>

<footer class="footer mt-auto py-3 bg-dark text-light text-center">
    <div class="container">
      <p>Copyright © 2021 · All Rights Reserved · <a href="http://www.choctaw.org" target="_blank">Mississippi Band of Choctaw Indians</a></p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"></script>
<script src="/assets/js/search-form.js"></script>
<script src="/assets/js/timer.js"></script>
<script src="/assets/js/bt5carousel.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
<script>
  mapboxgl.accessToken = 'pk.eyJ1Ijoic21hdHRlcmEiLCJhIjoiY2t0NGdjMTJ0MTcyOTJwcGt4czZlc3k1aSJ9.BFef4Lsdaa-GM2lE4Xdq_w';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [32.783, -89.223],
    zoom: 17.23,
  });
</script>