<section class="diamond-bg3 text-light py-5 text-center">
    <div class="container px-0">
      <h1 class="pb-2">Thank You To Our Sponsors</h1>
      <div class="row mx-auto my-auto justify-content-center px-0">
        <div id="recipeCarousel" class="carousel slide">
          <div class="carousel-inner" role="listbox">

            {% include sponsor-card.html level="platinum" url="https://www.pearlriverresort.com" file="/assets/sponsors/pearlriver2.png" alt="Pearl River Resort" class="active"%}
            {% include sponsor-card.html level="platinum" url="http://www.engservice.com" file="/assets/sponsors/engineeringservice.png" alt="Engineering Service" %}
            {% include sponsor-card.html level="platinum" url="http://pryormorrow.com" file="/assets/sponsors/pryormorrow.png" alt="Pryor Morrow" %}
            {% include sponsor-card.html level="platinum" url="https://southernresearchgroup.com" file="/assets/sponsors/srg.png" alt="SRG" %}
            {% include sponsor-card.html level="platinum" url="https://www.unum.com" file="/assets/sponsors/sis.png" alt="Walt Schrimpf (SIS-UNUM" %}

            {% include sponsor-card.html level="gold" url="https://www.bancorpsouth.com/insurance" file="/assets/sponsors/bxs.png" alt="BXS" %}
            {% include sponsor-card.html level="gold" url="https://yates.doitbest.com" file="/assets/sponsors/yates.png" alt="Yates" %}
            {% include sponsor-card.html level="gold" url="https://www.chahtaholdingroup.com/ikbi" file="/assets/sponsors/ikbi.png" alt="IKBI" %}
            {% include sponsor-card.html level="gold" url="https://www.ajg.com" file="/assets/sponsors/gallagher.png" alt="AJ Gallagher" %}

            {% include sponsor-card.html level="silver" url="http://edwards-electric.com" file="/assets/sponsors/edwards.png" alt="Edwards Electric" %}
            {% include sponsor-card.html level="silver" url="https://www.mclaininc.com" file="/assets/sponsors/mclain.png" alt="McLain Plumbing" %}
            {% include sponsor-card.html level="silver" url="https://www.sunburstresults.com" file="/assets/sponsors/sunburst.png" alt="Sunburst Chemicals" %}
            {% include sponsor-card.html level="silver" url="https://www.kirkauto.com" file="/assets/sponsors/kirk.png" alt="Kirk Auto" %}
            {% include sponsor-card.html level="silver" url="https://www.benchmarkms.com" file="/assets/sponsors/benchmark.png" alt="Benchmark" %}
            {% include sponsor-card.html level="silver" url="https://fintrustadvisors.com" file="/assets/sponsors/fintrust.png" alt="Financial Trust" %}
            {% include sponsor-card.html level="silver" url="http://www.glassworxllp.com" file="/assets/sponsors/glassworx.png" alt="Glass Worx" %}
            {% include sponsor-card.html level="silver" url="https://www.keyimpactstrategies.com" file="/assets/sponsors/keyimpact.png" alt="Key Impact Strategies" %}
            {% include sponsor-card.html level="silver" url="#" file="/assets/sponsors/morton.png" alt="Morton Construction" %}
            {% include sponsor-card.html level="silver" url="https://partridgepropane.com" file="/assets/sponsors/partridge.png" alt="Partridge Propane" %}
            {% include sponsor-card.html level="silver" url="http://www.pileum.com" file="/assets/sponsors/pileum.png" alt="Pileum" %}
            {% include sponsor-card.html level="silver" url="https://www.thecitizensbankphila.com" file="/assets/sponsors/citizens.png" alt="Citizens Bank" %}
            {% include sponsor-card.html level="silver" url="https://www.trustmark.com" file="/assets/sponsors/trustmark.png" alt="Trustmark Bank" %}

            {% include sponsor-card.html level="bronze" url="#" file="/assets/sponsors/bclean.png" alt="B Clean" %}
            {% include sponsor-card.html level="bronze" url="http://www.becomminc.com" file="/assets/sponsors/bne.png" alt="B&E Communications" %}
            {% include sponsor-card.html level="bronze" url="#" file="/assets/sponsors/holisso.png" alt="Holisso" %}
            {% include sponsor-card.html level="bronze" url="https://imperialdade.com" file="/assets/sponsors/imperial.png" alt="Imperial Dade" %}
            {% include sponsor-card.html level="bronze" url="http://www.interpestinc.com" file="/assets/sponsors/interpest.png" alt="Interpest" %}
            {% include sponsor-card.html level="bronze" url="https://www.memphispool.com" file="/assets/sponsors/memphispool.png" alt="Memphis Pool" %}
            {% include sponsor-card.html level="bronze" url="https://merchantsfoodservice.com" file="/assets/sponsors/merchants.png" alt="Merchants Food Service" %}
            {% include sponsor-card.html level="bronze" url="https://www.normanroofing.com" file="/assets/sponsors/normanroofing.png" alt="Norman Roofing" %}
            {% include sponsor-card.html level="bronze" url="https://www.trane.com/index.html" file="/assets/sponsors/trane.png" alt="Trane" %}
            {% include sponsor-card.html level="bronze" url="https://www.facebook.com/AandBMechanical/" file="/assets/sponsors/abmechanical.png" alt="A & B Mechanical" %}
            {% include sponsor-card.html level="bronze" url="https://www.andersonregional.org" file="/assets/sponsors/anderson.png" alt="Anderson Regional" %}
            {% include sponsor-card.html level="bronze" url="https://www.bcbsms.com" file="/assets/sponsors/bluecross.png" alt="Blue Cross Blue Shield" %}
            {% include sponsor-card.html level="bronze" url="https://www.cricpa.com" file="/assets/sponsors/cri.png" alt="CRI PA" %}
            {% include sponsor-card.html level="bronze" url="https://www.facebook.com/Matt-Boatner-Construction" file="/assets/sponsors/mbc.png" alt="Matt Boatner Construction" %}
            {% include sponsor-card.html level="bronze" url="https://www.neshobageneral.com" file="/assets/sponsors/neshobageneral.png" alt="Neshoba General" %}
            {% include sponsor-card.html level="bronze" url="https://wisecarter.com" file="/assets/sponsors/wisecarter.png" alt="Wise Carter" %}
            
          </div>
          <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </section>

<footer class="footer mt-auto py-3 bg-dark text-light text-center">
    <div class="container">
      <p>Copyright © 2021 · All Rights Reserved · <a href="http://www.choctaw.org" target="_blank">Mississippi Band of Choctaw Indians</a></p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"></script>
<script src="/assets/js/search-form.js"></script>
<script src="/assets/js/timer.js"></script>
<script src="/assets/js/bt5carousel.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
<script>
  mapboxgl.accessToken = 'pk.eyJ1Ijoic21hdHRlcmEiLCJhIjoiY2t0NGdjMTJ0MTcyOTJwcGt4czZlc3k1aSJ9.BFef4Lsdaa-GM2lE4Xdq_w';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [32.783, -89.223],
    zoom: 17.23,
  });
</script>