<section class="diamond-bg">
    <div class="container">
  
        <h1 class="display-1 shadow-text lh-1">Forms</h1>

        <p><a href="/assets/pdf/2022 CIF Notice of Taking of Bids.pdf" target="_blank" class="btn btn-warning btn-lg btn-block">2022 Choctaw Indian Fair Concessions and Parking Services bid information</a></p>

        <p><a href="/assets/pdf/2022 Choctaw Indian Princess Pageant Application, Policy and Guidelines.pdf" target="_blank" class="btn btn-warning btn-lg btn-block">2022 Choctaw Indian Princess Pageant Application, Policy and Guidelines</a></p>

        <p><a href="/assets/pdf/2022 Choctaw Princess Pageant Escort Application.pdf" target="_blank" class="btn btn-warning btn-lg btn-block">2022 Choctaw Indian Princess Pageant Escort Application</a></p>
  
        <p><a href="/assets/pdf/2022 CIF Social Dance Group Registraion Form Fillables.pdf" target="_blank" class="btn btn-warning btn-lg btn-block">2022 CIF Social Dance Group Registration Form</a></p>

        <p><a href="/assets/pdf/2022 CIF Dance Group Song List and Chanter's Information Form Fillables.pdf" target="_blank" class="btn btn-warning btn-lg btn-block">2022 CIF Dance Group Song List and Chanter's Information Form</a></p>

        <p><a href="/assets/pdf/2022 CIF Dance Group Disbursement Forms.pdf" target="_blank" class="btn btn-warning btn-lg btn-block">2022 CIF Dance Group Disbursement Form</a></p>

        <p><a href="/assets/pdf/2022 Rez Run Registration.pdf" target="_blank" class="btn btn-warning btn-lg btn-block">2022 Rez Run Registration Form</a></p>

        <p><a href="/assets/pdf/2022 Iron Warrior Registration.pdf" target="_blank" class="btn btn-warning btn-lg btn-block">2022 Iron Warrior Registration Form</a></p>

        <div class="container bg-dark text-white">
            <h1 class="display-1 shadow-text lh-1">Important Dates</h1>
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr><th scope="row">May 2, 6 PM</th><td>Stickball Coaches Meeting @ Amphitheater</td></tr>
                        <tr><th scope="row">May 6, 1 PM</th><td>Dance Group Entry Deadline @ CAP Office</td></tr>
                        <tr><th scope="row">May 7, 1 PM</th><td>Dance Group Registration Deadline @ CAP Office</td></tr>
                        <tr><th scope="row">May 16, 4 PM</th><td>Adult Stickball Team Entry Deadline @ Amphitheater</td></tr>
                        <tr><th scope="row">May 19, COB</th><td>CIF T-Shirt Orders Deadline</td></tr>
                        <tr><th scope="row">May 20, COB</th><td>REZ RUN and IRON WARRIOR T shirt Order Deadline</td></tr>
                        <tr><th scope="row">May 27, 4:30 PM</th><td>Choctaw Princess Contestant Deadline</td></tr>
                        <tr><th scope="row">May 27, 4:30 PM</th><td>Choctaw Princess Pageant Escort Deadline</td></tr>
                        <tr><th scope="row">TBD</th><td>Youth Stickball Team Entry Deadline</td></tr>
                        <tr><th scope="row">June 6, 6 PM</th><td>Stickball Bracket Day @ Amphitheater</td></tr>
                        <tr><th scope="row">June 10, 4:30 PM</th><td>Intertribal Dancers Registration Deadline</td></tr>
                        <tr><th scope="row">June 24</th><td>Iron Warrior, $25 Pre-registration Deadline<br>
                            Fee increases to $30 after this date</td></tr>
                        <tr><th scope="row">June 24</th><td>Rez Run, Pre-registration Deadline for Rez Run shirt</td></tr>
                        <tr><th scope="row">June 25</th><td>SDPI Unity Walk on Recreation Road & Stage Event</td></tr>
                        <tr><th scope="row">June 20 - July 12</th><td>4 H, Adult and Youth Division Pre Registration<br>
                            Register @ Natural Resources, 8 AM - 4:30 PM, Mon Fri.</td></tr>
                        <tr><th scope="row">July 4</th><td>4 H, Adult, Youth Division Booth Completion Deadline</td></tr>
                        <tr><th scope="row">July 11, 9 AM - 8 PM</th><td>Register Exhibit Items @ PR Gym</td></tr>
                        <tr><th scope="row">July 11</th><td>Organization Exhibit Item Deadline</td></tr>
                        <tr><th scope="row">July 12, 8:30 AM - 11 AM</th><td>Register Exhibit Items @ PR Gym</td></tr>
                        <tr><th scope="row">July 2, 1:30 PM</th><td>Exhibit Judging</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        

    </div>
  </section>
  