<section class="diamond-bg">
    <div class="container">
  
        <h1 class="display-1 shadow-text lh-1">Forms</h1>

        <p><a href="/assets/pdf/2022 CIF Notice of Taking of Bids.pdf" target="_blank" class="btn btn-warning btn-lg btn-block">2022 Choctaw Indian Fair Concessions and Parking Services bid information</a></p>

        <p><a href="/assets/pdf/2022 Choctaw Indian Princess Pageant Application, Policy and Guidelines.pdf" target="_blank" class="btn btn-warning btn-lg btn-block">2022 Choctaw Indian Princess Pageant Application, Policy and Guidelines</a></p>

        <p><a href="/assets/pdf/2022 Choctaw Princess Pageant Escort Application.pdf" target="_blank" class="btn btn-warning btn-lg btn-block">2022 Choctaw Indian Princess Pageant Escort Application</a></p>
  
        <p><a href="/assets/pdf/2022 CIF Social Dance Group Registraion Form Fillables.pdf" target="_blank" class="btn btn-warning btn-lg btn-block">2022 CIF Social Dance Group Registration Form</a></p>

        <p><a href="/assets/pdf/2022 CIF Dance Group Song List and Chanter's Information Form Fillables.pdf" target="_blank" class="btn btn-warning btn-lg btn-block">2022 CIF Dance Group Song List and Chanter's Information Form</a></p>

        <p><a href="/assets/pdf/2022 CIF Dance Group Disbursement Forms.pdf" target="_blank" class="btn btn-warning btn-lg btn-block">2022 CIF Dance Group Disbursement Form</a></p>

        <p><a href="/assets/pdf/2022 Rez Run Registration.pdf" target="_blank" class="btn btn-warning btn-lg btn-block">2022 Rez Run Registration Form</a></p>

        <p><a href="/assets/pdf/2022 Iron Warrior Registration.pdf" target="_blank" class="btn btn-warning btn-lg btn-block">2022 Iron Warrior Registration Form</a></p>

    </div>
  </section>
  