<div class="col">
  <div class="card bg-dark text-white fw-bold">
    <div class="card-header text-center">
      Game {{ include.g }}
    </div>
    <div class="card-body position-relative p-2" style="background: linear-gradient(130deg, {{ include.t1c }}, {{ include.t1c }}, {{ include.t2c }}, {{ include.t2c }});">
      <div class="position-relative" style="height: 100px;">
        <div class="position-absolute top-0 start-0" style="color: {{ include.t1c2 }};">{{ include.t1 }}</div>
        <div class="position-absolute top-50 start-0 translate-middle-y" style="color: {{ include.t1c2 }};font-size: 200%;">{{ include.t1s }}</div>
        <div class="position-absolute top-50 start-50 translate-middle">{{ include.d }}<br>{{ include.hr }}</div>
        <div class="position-absolute bottom-0 end-0" style="color: {{ include.t2c2 }};">{{ include.t2 }}</div>
        <div class="position-absolute top-50 end-0 translate-middle-y" style="color: {{ include.t2c2 }};font-size: 200%;">{{ include.t2s }}</div>
      </div>
    </div>
  </div>
</div>