<div class="col mx-auto">

  <div class="card-gold-border text-center text-white mx-auto position-relative p-3" style="width: 416px; height: 234px; background: radial-gradient(#333, #000);">
    <div class="position-absolute top-50 start-0 translate-middle-y rounded-3" style="width: 140px; height: 204px; background: linear-gradient(130deg, rgba({{ include.t1c2 }}, 0), rgba({{ include.t1c2 }}, 0.3), rgba({{ include.t1c2 }}, 0), rgba({{ include.t1c2 }}, 0), rgba({{ include.t1c2 }}, 0.3), rgba({{ include.t1c2 }}, 0.3), rgba({{ include.t1c2 }}, 0)), rgba({{ include.t1c }}, 1); color: rgba({{ include.t1c2 }},1); margin-left: 10px; border: 4px solid rgba({{ include.t1c2 }}, 0.25);">
      <div class="position-relative fw-bold" style="width:130px;height:194px;">
        <p class="h4 pt-3">{{ include.t1 }}</p>
        <p class="position-absolute bottom-0 start-50 translate-middle-x" style="font-size: 120px; margin-bottom: -25px;">{{ include.t1s }}</p>
      </div>
    </div>
    <div class="position-absolute top-50 start-50 translate-middle" style="width: 96px;">
      <img src="../assets/img/wss.jpg" class="img-fluid lighten pt-1" style="max-width: 85px">
      <div class="mt-2" style="background: white; color: #555;">
        <p class="mb-0 pt-1" style="font-size: 32px;">GAME {{ include.g }}</p>
      </div>
      <p class="m-1" style="font-size: 22px;">{{ include.d }}<br>{{ include.hr }}</p>
    </div>
    <div class="position-absolute top-50 end-0 translate-middle-y rounded-3" style="width: 140px; height: 204px; background: linear-gradient(130deg, rgba({{ include.t2c2 }}, 0), rgba({{ include.t2c2 }}, 0.3), rgba({{ include.t2c2 }}, 0), rgba({{ include.t2c2 }}, 0), rgba({{ include.t2c2 }}, 0.3), rgba({{ include.t2c2 }}, 0.3), rgba({{ include.t2c2 }}, 0)), rgba({{ include.t2c }}, 1.0); white; color: rgba({{ include.t2c2 }},1);margin-right: 10px; border: 4px solid rgba({{ include.t2c2 }}, 0.25);">
      <div class="position-relative fw-bold" style="width:130px;height:194px;">
        <p class="h4 pt-3">{{ include.t2 }}</p>
        <p class="position-absolute bottom-0 start-50 translate-middle-x" style="font-size: 120px; margin-bottom: -25px;">{{ include.t2s }}</p>
      </div>
    </div>
  </div>

</div>
