      <div class="col">
        <a type="button" data-bs-toggle="modal" data-bs-target="#{{ include.div }}-g{{ include.g }}" style="text-decoration: none;">
          <div class="row row-cols-3 g-1 p-1 card-black-border" style="background: linear-gradient(to bottom, rgba(20,20,20,1), rgba(80,80,80,1));">
            <div class="col-4 card mt-0 position-relative" style="background: linear-gradient(130deg, rgba({{ include.t1c2 }}, 0), rgba({{ include.t1c2 }}, 0.3), rgba({{ include.t1c2 }}, 0), rgba({{ include.t1c2 }}, 0), rgba({{ include.t1c2 }}, 0.3), rgba({{ include.t1c2 }}, 0.3), rgba({{ include.t1c2 }}, 0)), rgba({{ include.t1c }}, 1); color: rgba({{ include.t1c2 }},1); border: 4px solid rgba({{ include.t1c2 }}, 0.25);">
              <div class="card-head pt-3 h5" style="font-size:1.35rem;">{{ include.t1 }}</div>
              <div class="card-footer position-absolute bottom-0 start-50 translate-middle-x p-0 text-nowrap" style="background: transparent; font-size: 120px; border: none;">{% if t1s and t1s != '' %}{{ include.t1s }}{% else %}x{% endif %}</div>
            </div>
            <div class="col-4 card text-white p-1" style="background: transparent;border:none;">
              <img class="img-fluid my-2 lighten" src="../assets/img/logos/wss.webp">
              <div style="background: white; color: #555;">
                <p class="h4 mb-0 pt-1">GAME {{ include.g }}</p>
              </div>
              <p class="card-text h4 pt-1" style="font-size:1.6rem;">{{ include.d }}<br>{{ include.hr }}</p>
            </div>
            <div class="col-4 card mt-0 position-relative" style="background: linear-gradient(130deg, rgba({{ include.t2c2 }}, 0), rgba({{ include.t2c2 }}, 0.3), rgba({{ include.t2c2 }}, 0), rgba({{ include.t2c2 }}, 0), rgba({{ include.t2c2 }}, 0.3), rgba({{ include.t2c2 }}, 0.3), rgba({{ include.t2c2 }}, 0)), rgba({{ include.t2c }}, 1); color: rgba({{ include.t2c2 }},1); border: 4px solid rgba({{ include.t2c2 }}, 0.25);">
              <div class="card-head pt-3 h5" style="font-size:1.35rem;">{{ include.t2 }}</div>
              <div class="card-footer position-absolute bottom-0 start-50 translate-middle-x p-0 text-nowrap" style="background: transparent; font-size: 120px; border: none;">{% if t1s and t1s != '' %}{{ include.t2s }}{% else %}x{% endif %}</div>
            </div>
          </div>
        </a>
      </div>
