<section class="diamond-bg7">
    <div class="container">
        <h1 class="display-1 shadow-text lh-1">Visitor Info</h1>
        <div class="ratio ratio-16x9">
            <iframe src="https://www.google.com/maps/d/embed?mid=1e6Nvl9pSDrBdsh-9WWbGf3-QLdrcyGsm&ehbc=2E312F"></iframe>
        </div>
    </div>
    <ul>
        {% for org_hash in site.data.orgs %}
        {% assign org = org_hash[1] %}
          <li>
            <a href="https://github.com/{{ org.username }}">
              {{ org.name }}
            </a>
            ({{ org.members | size }} members)
          </li>
        {% endfor %}
        </ul>
</section>
