  <nav class="navbar navbar-expand-xl bg-dark navbar-dark py-3 fixed-top">
    <div class="container">
      <a href="/index.html" class="navbar-brand">
        <img src="/assets/img/icon.png" alt="Choctaw Indian Fair" height="50" width="auto">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav h5 pt-1">
          <li class="nav-item">
            <a href="/events/" class="nav-link {% if page.url == '/events/' %}active{% endif %}">Events</a>
          </li>
          <li class="nav-item">
            <a href="/culture/" class="nav-link {% if page.url == '/culture/' %}active{% endif %}">Culture</a>
          </li>
          <li class="nav-item">
            <a href="/stickball/" class="nav-link {% if page.url == '/stickball/' %}active{% endif %}">Stickball</a>
          </li>
          <li class="nav-item">
            <a href="/pageant/" class="nav-link {% if page.url == '/pageant/' %}active{% endif %}">Pageant</a>
          </li>
          <li class="nav-item">
            <a href="/competitions/" class="nav-link {% if page.url == '/competitions/' %}active{% endif %}">Competitions</a>
          </li>
          <li class="nav-item">
            <a href="/info/" class="nav-link {% if page.url == '/info/' %}active{% endif %}">Visitor Info</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item h4 link-white pt-md-1">
            <a href="https://www.facebook.com/ChoctawIndianFair" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.youtube.com/c/Choctawindianfair39350" target="_blank"><i class="bi bi-youtube mx-1"></i></a>
            <a href="https://twitter.com/mschoctawfair" target="_blank"><i class="bi bi-twitter"></i></a>
          </li>
          <li class="nav-item h4 pt-2 ps-xl-2">
            <a href="#" type="button" class="btn btn-outline-secondary">Buy Tickets</a>
          </li>
          <!--<form class="d-flex bebas" role="search" id="search-form">
            <input class="form-control mx-lg-2 me-2" type="search" placeholder="Search" aria-label="Search" id="search-query">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
          </form>-->
        </ul>
      </div>
    </div>
  </nav>
  <!-- <div class="alert alert-danger mb-0 text-center" role="alert"><i class="bi-exclamation-circle-fill pt-1"></i> Due to severe weather, today's fair events have been cancelled.</div> -->
