<section class="basket-bg py-5 text-center text-bg">
  <div class="container">
    <h1 class="shadow-text">Choctaw Indian Princess Pageant</h1>
    <div class="card-gold-border p-5 beadwork-bg">
      <div class="card-gold-border p-5" style="background: linear-gradient(to bottom, rgba(80,0,80,1), rgba(20,0,20,1));">
        <div class="row">
          <div class="col-lg">
            <img src="../assets/img/princess.jpg" alt="Shemah Ladania Crosby" class="img-fluid">
          </div>
          <div class="col-lg">
            <br class="d-lg-none"/>
            <h3>2021-2022<br />Choctaw Indian Princess<br />Shemah Ladania Crosby</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, itaque amet exercitationem vitae et, modi iure explicabo essesaepe ipsa aspernatur. Perferendis ipsa aspernatur laudantium laborum deleniti consequuntur ut esse.</p>
          </div>
        </div>
      </div>
    </div>
    <h2 class="shadow-text py-5">Contestants</h2>
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 g-4 mt-1">
      {% include game.html div="mens" g="1" d="Thu, Jul 08" hr="9:00 PM" t1="unified" t1c="0,100,0" t1c2="255,165,0" t1s="0" t2="beaver dam" t2c="255,0,0" t2c2="255,255,255" t2s="3" %}
      {% include game.html div="mens" g="2" d="Fri, Jul 09" hr="9:00 PM" t1="warriors" t1c="128,0,0" t1c2="255,255,255" t1s="1" t2="bók čito" t2c="255,255,255" t2c2="255,0,0" t2s="9" %}
      {% include game.html div="mens" g="3" d="Fri, Jul 09" hr="10:30 PM" t1="koni hata" t1c="0,0,255" t1c2="255,255,255" t1s="4" t2="oka homma" t2c="255,255,0" t2c2="255,0,0" t2s="1" %}
      {% include game.html div="mens" g="4" d="Sat, Jul 10" hr="9:00 PM" t1="pearl river" t1c="0,0,128" t1c2="255,255,255" t1s="8" t2="tvshkahomma" t2c="100,128,255" t2c2="128,0,0" t2s="0" %}
      {% include game.html div="mens" g="5" d="Sat, Jul 10" hr="10:30 PM" t1="wolfpack" t1c="0,0,0" t1c2="0,255,0" t1s="0" t2="beaver dam" t2c="255,0,0" t2c2="255,255,255" t2s="11" %}
      {% include game.html div="mens" g="6" d="Mon, Jul 12" hr="10:00 PM" t1="tucker" t1c="0,128,0" t1c2="255,255,0" t1s="2" t2="bók čito" t2c="255,255,255" t2c2="255,0,0" t2s="5" %}
      {% include game.html div="mens" g="7" d="Tue, Jul 13" hr="10:00 PM" t1="tiak hikíya" t1c="128,0,128" t1c2="255,255,0" t1s="0" t2="koni hata" t2c="0,0,255" t2c2="255,255,255" t2s="7" %}
      {% include game.html div="mens" g="8" d="Wed, Jul 14" hr="10:15 PM" t1="beaver dam" t1c="255,0,0" t1c2="255,255,255" t1s="0" t2="pearl river" t2c="0,0,128" t2c2="255,255,255" t2s="4" %}
      {% include game.html div="mens" g="9" d="Thu, Jul 15" hr="10:15 PM" t1="bók čito" t1c="255,255,255" t1c2="255,0,0" t1s="2" t2="koni hata" t2c="0,0,255" t2c2="255,255,255" t2s="1" %}
      {% include game.html div="mens" g="10" d="Sat, Jul 17" hr="10:15 PM" t1="pearl river" t1c="0,0,128" t1c2="255,255,255" t1s="5" t2="bók čito" t2c="255,255,255" t2c2="255,0,0" t2s="6" %}
    </div>
  </div>
</section>
