<section class="basket-bg py-5 text-center text-bg">
  <div class="container">
    <h1 class="shadow-text">Choctaw Indian Princess Pageant</h1>
    <img src="../assets/img/princess-banner.png" class="img-fluid">
    <!-- <div class="card-gold-border2 p-5 beadwork-bg">
      <div class="card-gold-border2 p-2" style="background: linear-gradient(to bottom, rgba(80,0,80,1), rgba(20,0,20,1));">
        <div class="row">
          <div class="col-xl">
            <img src="../assets/img/princess.jpg" alt="Shemah Ladania Crosby" class="img-fluid">
          </div>
          <div class="col-xl my-auto">
            <br class="d-xl-none"/>
            <h3>2021-2022<br />Choctaw Indian Princess<br />Shemah Ladania Crosby</h3>
            <p>Shemah Ladania Crosby is from the Standing Pine Community and is the 19-year- old daughter of Oga Crosby and Lalania Denson. Her grandparents are Beasley and the late Lena Denson and Phillip and the late Robbye Crosby. She has two siblings, Laliana and Yuriana. Shemah also has two pets, a cat named Brees (after Drew Brees) and a white German Shepherd named Daya.</p>
            <p>A 2020 graduate of Choctaw Central High School, Shemah is currently a sophomore studying anthropology at Mississippi State University. Her hobbies include beadwork making, modeling, getting nails done, golfing and gardening. Shemah’s favorite Choctaw cultural tradition is beadwork making, especially making medallion earrings.</p>
          </div>
        </div>
      </div>
    </div> -->
    <h2 class="shadow-text pt-5">2021 Contestants</h2>
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 g-4 mt-1">
      {% include contestant.html img="charlita.gibson" num="1" name="Charlita Pauline Leila Gibson" sponsor="Choctaw Tribal Schools" %}
      {% include contestant.html img="sydney.nickey" num="2" name="Sydney Briann Nickey" sponsor="Choctaw Health Center Employees Association" %}
      {% include contestant.html img="taina.thompson" num="3" name="Taina DeAnne Thompson" sponsor="Crystal Ridge Development Club" %}
      {% include contestant.html img="melanian.jimmie" num="4" name="Melanian Nicole Jimmie" sponsor="Pearl River Development Club" %}
      {% include contestant.html img="jaeden.wesley" num="5" name="Jaeden Ariana Wesley" sponsor="Standing Pine Development Club" %}
      {% include contestant.html img="lauren.ben" num="6" name="Lauren Raen Ben" sponsor="Pearl River Resort Gaming Properties" %}
      {% include contestant.html img="shemah.crosby" num="7" name="Shemah Ladania Crosby" sponsor="Pearl River R.V. Park" %}
      {% include contestant.html img="aahliya.jones" num="8" name="Aaliyah Marissa Jones" sponsor="Tucker Development Club" %}
      {% include contestant.html img="iris.farve" num="9" name="Iris Ann Farve" sponsor="Tiak Hikiya Ohóyo Stickball Team" %}
      {% include contestant.html img="alexis.smith" num="10" name="Alexis Laken Smith" sponsor="Bok Homa Casino" %}
      {% include contestant.html img="audrianna.billy" num="11" name="Audrianna Pakali Lakna Billy" sponsor="Conehatta Development Club" %}
      {% include contestant.html img="india.samuel" num="12" name="India Sky-Lyn Samuel" sponsor="Pearl River Resort Non-Gaming Properties" %}
      {% include contestant.html img="beverly.billy" num="13" name="Beverly Dawn Billy" sponsor="Bogue Homa Development Club" %}
    </div>
  </div>
</section>
