<section class="stickball-bg py-5 text-center">
    <div class="container">
      <h1>World Series of Stickball</h1>
      <h2 class="text-start">Men's</h2>

      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% include game.html game="1" time="Thu, Jul 08 @ 5:00 PM" t1="Pearl River" t1c="navy" t1c2="white" t1s="0" t2="Nanih Waiya" t1c="maroon" t1c2="white" t2s="0" %}

        <div class="col">
          <div class="card bg-dark text-white fw-bold">
            <div class="card-body position-relative p-2" style="background: linear-gradient(130deg, red, red, yellow, yellow);">
              <div class="position-relative" style="height: 100px;">
                <div class="position-absolute top-0 start-0">Pearl River</div>
                <div class="position-absolute top-50 end-0 translate-middle-y">0</div>
                <div class="position-absolute top-50 start-50 translate-middle">VS</div>
                <div class="position-absolute bottom-0 end-0">Nanih Waiya</div>
                <div class="position-absolute top-50 start-0 translate-middle-y">0</div>
              </div>
            </div>
            <div class="card-footer text-muted text-center">
              Game 2: Thu, Jul 08 @ 5:00 PM
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg-dark text-white fw-bold">
            <div class="card-body position-relative p-2" style="background: linear-gradient(130deg, red, red, yellow, yellow);">
              <div class="position-relative" style="height: 100px;">
                <div class="position-absolute top-0 start-0">Pearl River</div>
                <div class="position-absolute top-50 end-0 translate-middle-y">0</div>
                <div class="position-absolute top-50 start-50 translate-middle">VS</div>
                <div class="position-absolute bottom-0 end-0">Nanih Waiya</div>
                <div class="position-absolute top-50 start-0 translate-middle-y">0</div>
              </div>
            </div>
            <div class="card-footer text-muted text-center">
              Game 3: Thu, Jul 08 @ 5:00 PM
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg-dark text-white fw-bold">
            <div class="card-body position-relative p-2" style="background: linear-gradient(130deg, red, red, yellow, yellow);">
              <div class="position-relative" style="height: 100px;">
                <div class="position-absolute top-0 start-0">Pearl River</div>
                <div class="position-absolute top-50 end-0 translate-middle-y">0</div>
                <div class="position-absolute top-50 start-50 translate-middle">VS</div>
                <div class="position-absolute bottom-0 end-0">Nanih Waiya</div>
                <div class="position-absolute top-50 start-0 translate-middle-y">0</div>
              </div>
            </div>
            <div class="card-footer text-muted text-center">
              Game 4: Thu, Jul 08 @ 5:00 PM
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg-dark text-white fw-bold">
            <div class="card-body position-relative p-2" style="background: linear-gradient(130deg, red, red, yellow, yellow);">
              <div class="position-relative" style="height: 100px;">
                <div class="position-absolute top-0 start-0">Pearl River</div>
                <div class="position-absolute top-50 end-0 translate-middle-y">0</div>
                <div class="position-absolute top-50 start-50 translate-middle">VS</div>
                <div class="position-absolute bottom-0 end-0">Nanih Waiya</div>
                <div class="position-absolute top-50 start-0 translate-middle-y">0</div>
              </div>
            </div>
            <div class="card-footer text-muted text-center">
              Game 5: Thu, Jul 08 @ 5:00 PM
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg-dark text-white fw-bold">
            <div class="card-body position-relative p-2" style="background: linear-gradient(130deg, red, red, yellow, yellow);">
              <div class="position-relative" style="height: 100px;">
                <div class="position-absolute top-0 start-0">Pearl River</div>
                <div class="position-absolute top-50 end-0 translate-middle-y">0</div>
                <div class="position-absolute top-50 start-50 translate-middle">VS</div>
                <div class="position-absolute bottom-0 end-0">Nanih Waiya</div>
                <div class="position-absolute top-50 start-0 translate-middle-y">0</div>
              </div>
            </div>
            <div class="card-footer text-muted text-center">
              Game 6: Thu, Jul 08 @ 5:00 PM
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg-dark text-white fw-bold">
            <div class="card-body position-relative p-2" style="background: linear-gradient(130deg, red, red, yellow, yellow);">
              <div class="position-relative" style="height: 100px;">
                <div class="position-absolute top-0 start-0">Pearl River</div>
                <div class="position-absolute top-50 end-0 translate-middle-y">0</div>
                <div class="position-absolute top-50 start-50 translate-middle">VS</div>
                <div class="position-absolute bottom-0 end-0">Nanih Waiya</div>
                <div class="position-absolute top-50 start-0 translate-middle-y">0</div>
              </div>
            </div>
            <div class="card-footer text-muted text-center">
              Game 7: Thu, Jul 08 @ 5:00 PM
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg-dark text-white fw-bold">
            <div class="card-body position-relative p-2" style="background: linear-gradient(130deg, red, red, yellow, yellow);">
              <div class="position-relative" style="height: 100px;">
                <div class="position-absolute top-0 start-0">Pearl River</div>
                <div class="position-absolute top-50 end-0 translate-middle-y">0</div>
                <div class="position-absolute top-50 start-50 translate-middle">VS</div>
                <div class="position-absolute bottom-0 end-0">Nanih Waiya</div>
                <div class="position-absolute top-50 start-0 translate-middle-y">0</div>
              </div>
            </div>
            <div class="card-footer text-muted text-center">
              Game 8: Thu, Jul 08 @ 5:00 PM
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg-dark text-white fw-bold">
            <div class="card-body position-relative p-2" style="background: linear-gradient(130deg, red, red, yellow, yellow);">
              <div class="position-relative" style="height: 100px;">
                <div class="position-absolute top-0 start-0">Pearl River</div>
                <div class="position-absolute top-50 end-0 translate-middle-y">0</div>
                <div class="position-absolute top-50 start-50 translate-middle">VS</div>
                <div class="position-absolute bottom-0 end-0">Nanih Waiya</div>
                <div class="position-absolute top-50 start-0 translate-middle-y">0</div>
              </div>
            </div>
            <div class="card-footer text-muted text-center">
              Game 9: Thu, Jul 08 @ 5:00 PM
            </div>
          </div>
        </div>
      </div>

      

    </div>
  </section>
