<section class="stickball-bg py-5 text-center">
    <div class="container">
      <h1>World Series of Stickball</h1>
      <h2 class="text-start">Men's</h2>

      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% include game.html g="1" d="Thu, Jul 08" hr="9:00 PM" t1="UNIFIED" t1c="#355E3B" t1c2="orange" t1s="0" t2="BEAVER DAM" t2c="red" t2c2="white" t2s="0" %}
        {% include game.html g="2" d="Fri, Jul 09" hr="9:00 PM" t1="WARRIORS" t1c="maroon" t1c2="white" t1s="0" t2="BÓK ČITO" t2c="white" t2c2="red" t2s="0" %}
        {% include game.html g="3" d="Fri, Jul 09" hr="10:30 PM" t1="KONI HATA" t1c="blue" t1c2="white" t1s="0" t2="OKA HOMMA" t2c="yellow" t2c2="red" t2s="0" %}
        {% include game.html g="4" d="Sat, Jul 10" hr="9:00 PM" t1="PEARL RIVER" t1c="darkblue" t1c2="white" t1s="0" t2="TVSHKAHOMMA" t2c="lightblue" t2c2="red" t2s="0" %}
        {% include game.html g="5" d="Sat, Jul 10" hr="10:30 PM" t1="WOLFPACK" t1c="black" t1c2="#39ff14" t1s="0" t2="BEAVER DAM" t2c="red" t2c2="white" t2s="0" %}
        {% include game.html g="6" d="Mon, Jul 12" hr="10:00 PM" t1="TUCKER" t1c="green" t1c2="yellow" t1s="0" t2="BÓK ČITO" t2c="white" t2c2="red" t2s="0" %}
        {% include game.html g="7" d="Tue, Jul 13" hr="10:00 PM" t1="TIAK HIKÍYA" t1c="purple" t1c2="yellow" t1s="0" t2="KONI HATA" t2c="blue" t2c2="white" t2s="0" %}
        {% include game.html g="8" d="Wed, Jul 14" hr="10:15 PM" t1="BEAVER DAM" t1c="red" t1c2="white" t1s="0" t2="PEARL RIVER" t2c="darkblue" t2c2="white" t2s="0" %}
        {% include game.html g="9" d="Thu, Jul 15" hr="10:15 PM" t1="BÓK ČITO" t1c="white" t1c2="red" t1s="0" t2="KONI HATA" t2c="blue" t2c2="white" t2s="0" %}
        {% include game.html g="10" d="Sat, Jul 17" hr="10:15 PM" t1="PEARL RIVER" t1c="darkblue" t1c2="white" t1s="0" t2="BÓK ČITO" t2c="white" t2c2="red" t2s="0" %}
      </div>

    </div>
  </section>
