body {
  background-color: #212529 !important;
  padding-top: 30px;
}

body::before {
  display: block;
  content: "";
  height: 60px;
}

section {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  color: #f8f9fa !important;
  text-align: center !important;
}

a:hover {
  color: #f8f9fa;
}

h1, .h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 6rem;
  font-weight: normal;
}

h2, .h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem;
  font-weight: normal;
}

h3, .h3 {
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
  font-weight: normal;
}

h4, .h4 {
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  font-weight: normal;
}

h5, .h5 {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.45rem;
  font-weight: normal;
}

h6, .h6 {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.25rem;
  font-weight: normal;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: #db6;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fea;
}

.link-white a {
  color: #db6;
}

.link-white a:hover {
  color: #fea;
}

header {
  position: relative;
  background-color: black;
  height: 85vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.25;
  z-index: 1;
}

.card {
  border: none;
}

/* Media Query for devices withi coarse pointers and no hover functionality */
/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
@media (pointer: coarse) and (hover: none) {
  header {
    background: url("/assets/img/CIF-bg.jpg") black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

.diamond-bg {
  background: url("/assets/img/diamond-bg.svg") center repeat, linear-gradient(30deg, #550000, maroon, #550000, maroon, #550000, maroon, #550000);
  background-size: 700px 700px, cover;
  background-attachment: fixed, fixed;
}

.diamond-bg2 {
  background: url("/assets/img/diamond-bg.svg") center repeat, linear-gradient(30deg, #111, #444, #111, #444, #111, #444, #111);
  background-size: 700px 700px, cover;
  background-attachment: fixed, fixed;
}

.diamond-bg3 {
  background: url("/assets/img/diamond-bg.svg") center repeat, linear-gradient(30deg, #b93, #db6, #b93, #db6, #b93, #db6, #b93);
  background-size: 700px 700px, cover;
  background-attachment: fixed, fixed;
}

.camo-bg {
  background: url("/assets/img/camo.svg") center repeat, #ccc;
  background-size: 750px 600px, cover;
  background-attachment: fixed, fixed;
}

.basket-bg {
  background: url("/assets/img/weave02.svg") center repeat, -webkit-gradient(linear, left top, right top, from(purple), color-stop(red), color-stop(pink), color-stop(red), to(purple));
  background: url("/assets/img/weave02.svg") center repeat, linear-gradient(to right, purple, red, pink, red, purple);
  background-size: 360px 240px, cover;
  background-attachment: fixed, scroll;
}

.stickball-bg {
  background: url("/assets/img/stickballweave.svg") center repeat, #666;
  background-size: 61px 160px, cover;
  background-attachment: fixed, fixed;
}

.card-bg1 {
  background: url("/assets/img/events.jpg") center no-repeat;
  background-size: cover;
  height: 600px;
}

.card-bg2 {
  background: url("/assets/img/stickball.jpg") center no-repeat;
  background-size: cover;
  height: 600px;
}

.card-bg3 {
  background: url("/assets/img/princess.jpg") center no-repeat;
  background-size: cover;
  height: 600px;
}

.card-bg4 {
  background: url("/assets/img/competitions.jpg") center no-repeat;
  background-size: cover;
  height: 600px;
}

.beadwork-bg {
  background: url("/assets/img/bead.png");
  background-size: 100px 100px;
}

.card-gold-border {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to bottom, #fea, #dff, #da4);
}

.card-gold-border2 {
  border: 15px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to bottom, #fea, #dff, #da4);
}

.card-red-border {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to bottom, #f99, #ffeeee, #c33);
}

.card-black-border {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to bottom, #dfd, #fff, #779);
}

.card-rose-border {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to bottom, #fcc, #ffd, #969);
}

.card-blue-border {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to bottom, #bff, #ffd, #069);
}

.opaque {
  color: #fff;
}

.opaque:hover {
  color: #fff;
  opacity: 0.75;
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
    margin: auto;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.card-platinum {
  background: -webkit-gradient(linear, left top, left bottom, from(#9aa), color-stop(#fff), to(#bba));
  background: linear-gradient(to bottom, #9aa, #fff, #bba);
}

.card-gold {
  background: -webkit-gradient(linear, left top, left bottom, from(#da4), color-stop(#dff), to(#fea));
  background: linear-gradient(to bottom, #da4, #dff, #fea);
}

.card-silver {
  background: -webkit-gradient(linear, left top, left bottom, from(#667), color-stop(#ffe), to(#889));
  background: linear-gradient(to bottom, #667, #ffe, #889);
}

.card-bronze {
  background: -webkit-gradient(linear, left top, left bottom, from(#840), color-stop(#eff), to(#fc6));
  background: linear-gradient(to bottom, #840, #eff, #fc6);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 0%;
}

.card-img,
.card-img-top {
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}

.footer .container a {
  color: #db6;
  text-decoration: none;
}

.btn-outline-secondary {
  color: #db6;
  border-color: #db6;
}

.btn-outline-secondary:hover {
  color: #333;
  background-color: #fea;
  border-color: #fea;
}

@media (max-width: 751px) {
  .event-title {
    font-size: 10vw;
  }
}

.event-title {
  font-size: 2vw;
}

.nav-pills .nav-link {
  background-color: cmyk(14%, 13%, 4%, 89%);
  color: #fea;
  border-color: #fea;
}

.nav-pills .nav-link.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#db6), to(#fea));
  background: linear-gradient(#db6, #fea);
  color: #333;
  border-color: #333;
}

.img-gray {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.lighten {
  mix-blend-mode: lighten;
}

.bebas {
  font-family: 'Bebas Neue', cursive;
}

.archivo {
  font-family: 'Archivo Black', sans-serif;
}

.shadow-text {
  text-shadow: 0 1px 0 #aaa, 0 2px 0 #a9a9a9, 0 3px 0 #999, 0 4px 0 #999999, 0 5px 0 #888, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.title {
  font-size: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
  .title {
    font-size: 4rem;
  }
}
/*# sourceMappingURL=main.css.map */