body {
  background-color: #212529 !important;
  padding-top: 30px;
}

body::before {
  display: block;
  content: "";
  height: 60px;
}

section {
  padding-top: 3rem!important;
  padding-bottom: 3rem!important;
  color: #f8f9fa !important;
  text-align: center !important;
}

a:hover {
  color: #f8f9fa;
}

h1, .h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 6rem;
  font-weight: normal;
}

h2, .h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem;
  font-weight: normal;
}

h3, .h3 {
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
  font-weight: normal;
}

h4, .h4 {
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
  font-weight: normal;
}

h5, .h5 {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.45rem;
  font-weight: normal;
}

h6, .h6 {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.25rem;
  font-weight: normal;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: #d9bc64;
  &:hover {
    color: #f4e5a1;
  }
}

.link-white a {
  color: #d9bc64;
  &:hover {
    color: #f4e5a1;
  }
}

header {
  position: relative;
  background-color: black;
  height: 85vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .container {
    position: relative;
    z-index: 2;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.25;
    z-index: 1;
  }
}

/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
  header {
    background: url("/assets/img/CIF-bg.jpg") black
      no-repeat center center scroll;
    video {
        display: none;
    }
  }
}

.diamond-bg {
  background: url("/assets/img/diamond-bg.svg") center repeat,
    linear-gradient(
      30deg,
      #550000,
      maroon,
      #550000,
      maroon,
      #550000,
      maroon,
      #550000
    );
  background-size: 700px 700px, cover;
  background-attachment: fixed, fixed;
}

.diamond-bg2 {
  background: url("/assets/img/diamond-bg.svg") center repeat,
    linear-gradient(
      30deg,
      #18181b,
      #424349,
      #18181b,
      #424349,
      #18181b,
      #424349,
      #18181b
    );
  background-size: 700px 700px, cover;
  background-attachment: fixed, fixed;
}

.diamond-bg3 {
  background: url("/assets/img/diamond-bg.svg") center repeat,
    linear-gradient(
      30deg,
      #b09136,
      #d9bc64,
      #b09136,
      #d9bc64,
      #b09136,
      #d9bc64,
      #b09136
    );
  background-size: 700px 700px, cover;
  background-attachment: fixed, fixed;
}

.camo-bg {
  background: url("/assets/img/camo.svg") center repeat, #fffac4;
  background-size: 750px 600px, cover;
  background-attachment: fixed, fixed;
}

.basket-bg {
  background: url("/assets/img/weave02.svg") center repeat, 
  linear-gradient(
    yellow,
    red,
    blue
  );
  background-size: 360px 240px, cover;
  background-attachment: fixed, fixed;
}

.stickball-bg {
  background: url("/assets/img/stickballweave.svg") center repeat, #666;
  background-size: 61px 160px, cover;
  background-attachment: fixed, fixed;
}

.card-bg1 {
  background: url("/assets/img/events.jpg") center no-repeat;
  background-size: cover;
  height: 600px;
}

.card-bg2 {
  background: url("/assets/img/stickball.jpg") center no-repeat;
  background-size: cover;
  height: 600px;
}

.card-bg3 {
  background: url("/assets/img/princess.jpg") center no-repeat;
  background-size: cover;
  height: 600px;
}

.card-bg4 {
  background: url("/assets/img/competitions.jpg") center no-repeat;
  background-size: cover;
  height: 600px;
}

.beadwork-bg {
  background: linear-gradient(30deg,rgb(114,3,124),rgb(102,45,145),rgb(128,0,128),rgb(128,0,128),rgb(158,0,93),rgb(27,20,100),rgb(114,3,124),rgb(102,45,145),rgb(128,0,128),rgb(128,0,128),rgb(158,0,93),rgb(27,20,100),rgb(114,3,124),rgb(102,45,145),rgb(128,0,128),rgb(128,0,128),rgb(158,0,93),rgb(27,20,100),);
}

.card-gold-border {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to bottom, #f4e5a1, #d0a641);
  /* border:thick solid #f4e5a1; */
  /* border-image: linear-gradient(90deg, rgba(208,166,65,1) 0%, rgba(244,229,161,1) 50%, rgba(208,166,65,1) 100%); */
}

.card-red-border {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to bottom, #ff0000, #990000);
}

.card-black-border {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to bottom, rgba(255,255,255,0.8), rgba(255,255,255,0));
}

.opaque {
  color: #fff;
  &:hover {
    color: #fff;
    opacity: 0.75;
  }
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
    margin: auto;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}

.card-platinum {
  background: linear-gradient(to bottom, #888, #ddd, #bbb);
  /* background: linear-gradient(to bottom, #d6d5d3, #e5e4e2, #a6a5a3, #e5e4e2, #858482, #555452); */
}

.card-gold {
  background: linear-gradient(to bottom, #d0a641, #ffefaf, #f4e5a1);
  /* background: linear-gradient(to bottom, #FCF6BA, #BF953F, #FBF5B7, #BF953F, #B38728, #AA771C); */
}

.card-silver {
  background: linear-gradient(to bottom, #666, #bbb, #999);
}
.card-bronze {
  background: linear-gradient(to bottom, #844400, #facc66, #facc66);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 0%;
}

.card-img,
.card-img-top {
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}

.footer .container a {
  color: #d9bc64;
  text-decoration: none;
}

.btn-outline-secondary {
  color: #d9bc64;
  border-color: #d9bc64;
  &:hover {
    color: #333;
    background-color: #f4e5a1;
    border-color: #f4e5a1;
  }
}
@media (max-width: 751px) {
  .event-title {
    font-size: 10vw;
  }
}
.event-title {
  font-size: 2vw;
}
.nav-pills .nav-link {
  background-color: cmyk(14%, 13%, 4%, 89%);
  color: #d9bc64;
  border-color: #d9bc64;
}
.nav-pills .nav-link.active {
  background-color: #d9bc64;
  color: #333;
  border-color: #333;
}
.img-gray {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */ 
  filter: grayscale(100%);
}
.lighten {
  mix-blend-mode: lighten;
}
.bebas {
  font-family:  'Bebas Neue', cursive;
}
.archivo {
  font-family: 'Archivo Black', sans-serif;
}
.shadow-text {
  text-shadow: 0 1px 0 #aaa,
               0 2px 0 #a9a9a9,
               0 3px 0 #999,
               0 4px 0 #999999,
               0 5px 0 #888,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
