<h5>TUCKER</h5>
<h6>COACHES: BRIAN K. FARMER, SR., DEVIN CHARLIE, BILL FARMER, DEMONDO MINGO</h6>
<table class="table table-dark table-striped">
    <tbody>
        <tr><th scope="row">0</th><td>KAMDEN FRAZIER</td></tr>
        <tr><th scope="row">1</th><td>LEE WILLIS</td></tr>
        <tr><th scope="row">2</th><td>TYLER BELL</td></tr>
        <tr><th scope="row">3</th><td>DEVIN CHARLIE</td></tr>
        <tr><th scope="row">4</th><td>BRIAN FARMER, SR.</td></tr>
        <tr><th scope="row">5</th><td>DEMONDO MINGO</td></tr>
        <tr><th scope="row">6</th><td>MIGUEL PEDOAZA</td></tr>
        <tr><th scope="row">7</th><td>ZACK FARMER</td></tr>
        <tr><th scope="row">8</th><td>BRIAN FARMER, JR.</td></tr>
        <tr><th scope="row">9</th><td>DJON JOHN</td></tr>
        <tr><th scope="row">11</th><td>BENJAMIN GUYETTE</td></tr>
        <tr><th scope="row">12</th><td>FERRIS TUBBY</td></tr>
        <tr><th scope="row">14</th><td>TERRANCE COMBY</td></tr>
        <tr><th scope="row">15</th><td>KLIFTON TAYLOR</td></tr>
        <tr><th scope="row">16</th><td>HAYDEN FARMER</td></tr>
        <tr><th scope="row">17</th><td>KEANON MCMILLAN</td></tr>
        <tr><th scope="row">18</th><td>ELIJAH TUBBY</td></tr>
        <tr><th scope="row">19</th><td>MICHAEL MCMILLAN</td></tr>
        <tr><th scope="row">20</th><td>CY MCMILLAN</td></tr>
        <tr><th scope="row">21</th><td>BILL FARMER</td></tr>
        <tr><th scope="row">22</th><td>KYLE TAYLOR</td></tr>
        <tr><th scope="row">23</th><td>COBY TUBBY</td></tr>
        <tr><th scope="row">24</th><td>BRIAN FRAZIER</td></tr>
        <tr><th scope="row">25</th><td>DERRICK DAVIS</td></tr>
        <tr><th scope="row">26</th><td>DAMION POLK</td></tr>
        <tr><th scope="row">27</th><td>KEITHAN BILLY</td></tr>
        <tr><th scope="row">28</th><td>LELAND GIBSON</td></tr>
        <tr><th scope="row">29</th><td>JERROD MCMILLAN</td></tr>
        <tr><th scope="row">30</th><td>MANNING WILLIS</td></tr>
        <tr><th scope="row">31</th><td>SHERENTE TUBBY</td></tr>
        <tr><th scope="row">32</th><td>MATTHEW MCMILLAN</td></tr>
        <tr><th scope="row">33</th><td>GREG MCMILLAN</td></tr>
        <tr><th scope="row">34</th><td>JUSTIN MCMILLAN</td></tr>
        <tr><th scope="row">35</th><td>KINA PLENTY</td></tr>
        <tr><th scope="row">36</th><td>MATHIS HALL</td></tr>
        <tr><th scope="row">37</th><td>CHANCY JOHN</td></tr>
        <tr><th scope="row">38</th><td>SHANE BEN</td></tr>
        <tr><th scope="row">39</th><td>TYLER WILLIS</td></tr>
        <tr><th scope="row">40</th><td>DWIGHT MCMILLAN</td></tr>
        <tr><th scope="row">42</th><td>DEVIN MCMILLAN</td></tr>
        <tr><th scope="row">43</th><td>DAVID DENSON</td></tr>
        <tr><th scope="row">44</th><td>SAMUEL MINGO</td></tr>
        <tr><th scope="row">45</th><td>DALE PHILLIPS, JR.</td></tr>
        <tr><th scope="row">46</th><td>DERIC SAM, SR.</td></tr>
        <tr><th scope="row">47</th><td>DERIC SAM, JR.</td></tr>
        <tr><th scope="row">48</th><td>TALEIK BEN</td></tr>
        <tr><th scope="row">49</th><td>JONATHAN STEVE</td></tr>
        <tr><th scope="row">50</th><td>JAMES MCMILLAN</td></tr>
        <tr><th scope="row">51</th><td>JERIC MCMILLAN</td></tr>
        <tr><th scope="row">52</th><td>TRAVIS BELL</td></tr>
        <tr><th scope="row">53</th><td>BILL FARMER, JR.</td></tr>
        <tr><th scope="row">54</th><td>KENDRICK JEFFERSON</td></tr>
        <tr><th scope="row">55</th><td>CLIFF WILLIS</td></tr>
        <tr><th scope="row">56</th><td>NICOLAS JOE</td></tr>
        <tr><th scope="row">57</th><td>JEREMY MCMILLAN</td></tr>
        <tr><th scope="row">58</th><td>BENJAMIN DAVIS</td></tr>
        <tr><th scope="row">59</th><td>JAMES DAVIS</td></tr>
        <tr><th scope="row">60</th><td>BRANTLEY MCMILLAN</td></tr>
        <tr><th scope="row">69</th><td>JONATHAN THOMPSON</td></tr>
        <tr><th scope="row">70</th><td>CHRISTOPHER THOMPSON</td></tr>
        <tr><th scope="row">71</th><td>KASHDEN BELL</td></tr>
        <tr><th scope="row">72</th><td>CORY BELL</td></tr>
        <tr><th scope="row">74</th><td>CALVIN MONCRIEASE</td></tr>
        <tr><th scope="row">77</th><td>MICHAEL BELL</td></tr>
        <tr><th scope="row">80</th><td>HERMAN YOUNG</td></tr>
        <tr><th scope="row">81</th><td>SAMUEL BELL</td></tr>
        <tr><th scope="row">83</th><td>MASON FARMER</td></tr>
        <tr><th scope="row">84</th><td>DARREN CHARLIE</td></tr>
        <tr><th scope="row">85</th><td>BRETT WISHORK</td></tr>
        <tr><th scope="row">91</th><td>TY ISAAC</td></tr>
        <tr><th scope="row">96</th><td>CHRISTIAN GIBSON</td></tr>
        <tr><th scope="row">97</th><td>RODNEY FARVE</td></tr>
        <tr><th scope="row">98</th><td>QUENTIN NANEATO</td></tr>
        <tr><th scope="row">99</th><td>SEAN TUBBY</td></tr>
    </tbody>
</table>
