---
---
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="/assets/img/icon.png">
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />-->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#212529" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#212529">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="We invite you to join us July 13-16 for our 72nd annual Choctaw Indian Fair. 
        The fair takes place on our centuries-old homeland in beautiful Choctaw, Mississippi.">
    <meta name="keywords" content="Choctaw Indian Fair, World Series Stickball, Princess Pageant, Rez Run, Iron Warrior">
    <meta name="author" content="Sonny Mattera, sonny.mattera@choctaw.org">
    <meta property="og:title" content="Choctaw Indian Fair | {{ page.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.choctawindianfair.com/assets/img/meta/{{ page.meta }}.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:url" content="https://www.choctawindianfair.com{{ page.url }}" />
    <meta property="og:description" content="We invite you to join us July 13-16 for our 72nd annual Choctaw Indian Fair. 
        The fair takes place on our centuries-old homeland in beautiful Choctaw, Mississippi." />
    {% if page.title %}
        <title>Choctaw Indian Fair | {{ page.title }}</title>
    {% else %}
        <title>Choctaw Indian Fair</title>
    {% endif %}
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Event",
          "name": "Choctaw Indian Fair",
          "startDate": "2020-07-13T10:00-06:00",
          "endDate": "2020-07-16T23:00-06:00",
          "eventSchedule": {
            "@type": "EventSchedule",
            "startDate": "2022-07-13",
            "endDate": "2022-07-16",
            "startTime": "10:00",
            "endTime": "24:00",
            "timezone": "America/Chicago"
          },
          "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
          "eventStatus": "https://schema.org/EventScheduled",
          "location": {
            "@type": "Place",
            "name": "Choctaw Indian Fair",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "101 Industrial Rd",
              "addressLocality": "Choctaw",
              "postalCode": "39350",
              "addressRegion": "MS",
              "addressCountry": "US"
            }
          },
          "image": "https://www.choctawindianfair.com/assets/img/CIF-bg.webp",
          "description": "We invite you to join us July 13-16 for our 72nd annual Choctaw Indian Fair. 
          The fair takes place on our centuries-old homeland in beautiful Choctaw, Mississippi.",
          "offers": {
            "@type": "Offer",
            "url": "https://www.etix.com/ticket/p/8573400",
            "price": "20",
            "priceCurrency": "USD",
            "availability": "https://schema.org/InStock",
            "validFrom": "2022-06-13T08:00"
          },
          "performer": [
            {
              "@type": "Person",
              "name": "Ryan Hurd",
              "sameAs": "https://www.ryanhurd.com",
            },
            {
              "@type": "PerformingGroup",
              "name": "Casting Crowns",
              "sameAs": "https://www.castingcrowns.com",
            },
            {
              "@type": "PerformingGroup",
              "name": "Lady A",
              "sameAs": "https://www.ladyamusic.com",
            }
          ],
          "organizer": {
            "@type": "Organization",
            "name": "Choctaw Indian Fair",
            "url": "https://www.choctawindianfair.com"
          }
        }
        </script>
    </head>
<body>
  {% include nav.html %}
  {{ content }}
  {% include footer.html %}
</body>
</html>
